﻿@model IrisDataManagement.Models.Reports

<div id="AdminviewReportInner">
    @Html.HiddenFor(m => m.NowViewing, new { id = "Adminviewing" })  
    @Html.HiddenFor(m => m.ReportType, new { id = "AdminreportType" })     
    <div style="margin-top: 10px; margin-bottom: 70px">
        @if (Model.ReportsList.Count == 0)
        {
            <div class="noreportsfound">@Model.NoReportsMessage</div>
        }        

        @if (Model.ReportType == "0")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div style="margin-top: 20px;">
                    <div class="repeater repeaterxx left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                        <div title="@report.GeneralReportName" style="width: 350px; text-align: left; padding-left: 30px" onclick="ShowGeneralReport(@report.GeneralReportId)" class="reportName left">@report.GeneralReportName</div>
                        <div class="reportDocNumber left" style="font-weight: bold">@report.GeneralReportCount</div>
                        <div class="clear"></div>               
                    </div>
                </div>
            }
        }
        
        @if (Model.ReportType == "10")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                    <div style="width:150px" class="reportViewDate left">@(report.AuditItem.TimeStamp.ToString("dd/MM/yyyy hh:mmtt").ToLower())</div>
                    <div style="width:170px" onclick="ShowStaffPreview('@(report.AuditItem.User == null ? "" : report.AuditItem.User.Person_Id.ToString())')" class="reportName left">@(report.AuditItem.User == null ? "" : report.AuditItem.User.FullName)</div>
                    <div style="width:180px" class="reportBank left">@report.AuditItem.EventTypeName</div>
                    <div style="width:275px" class="reportVerificationReason left">@(report.AuditItem.Description)</div>
                    <div class="clear"></div>               
                </div>
            }
        }
        
        <div class="clear"></div>

        <div id="Adminppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
             <div class="Adminpopupinnerdiv"></div>
        </div>

        @if (Model.PageSize != "10" && Model.PageSize != "5")
        {
            <div class="fixed-wrapper" id="fixedParent">
                <div id="scrollToTop" title="Scroll to top" class="fixed"></div>
            </div>
            
        }

        @if (Model.PageCount > 1)
        {
            <div class="pagingDiv" id="adminpagingDiv">
                  @Html.Partial("_PagingDiv", Model)
            </div>
        }
    </div>
</div>
