﻿@{
    ViewBag.Title = "_NibssMaintenance";
}

@model IrisDataManagement.Models.Reports
@Styles.Render("~/Content/DocSearchControlCss")

<div class="selectreport well">
    <div>
        <div class="left nlabel2" style="min-width: 0px;">Select Report</div>        
        @Html.HiddenFor(model => model.ReportType, new { id = "AdmincmbReportType", @class = "left", @style = "width:300px; font-size: 13px;" })  
    </div>
    <div id="Adminspecificdiv" class="right hidden">
        @Html.TextBoxFor(model => model.IntervalStart, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "AdmintxtFromDatex", @class = "jdpicker left" })
        <div class="left todiv">To</div>
            @Html.TextBoxFor(model => model.IntervalEnd, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "AdmintxtToDatex", @class = "jdpicker left" })
        <div class="gobutton left" onclick="AdminReportSearch('', '', '')" id="specificbtn"></div>
        <div class="clear"></div>
    </div>         
    <div class="clear"></div>
</div>

<div class="SearchResults Hidden">
    <div id="AdmindocSearchDiv" class="docSearchDivM">
        <div id='divOrder' class="Sorter">
            <div class="sortInfo">
                <div style="font-size: 12px" class="left">Sort by : </div>
                <div class="left sortOptions" id="AuditTrailOptions">
                    @Html.Hidden("Adminisdesc", null, new { id = "Adminisdesc", @Value = "&#9660;" })
                    @Html.Hidden("AdminhasChanged", null, new { id = "AdminhasChanged", @Value = "0" })
                    @Html.HiddenFor(model => model.CurrentSort, new { id = "Admincurrentsort" })
                    <div id="txtAdminDate" onclick="AdminReportSearch('Date', '')" class="left @(Model.CurrentSort == "Date" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Date" + (Model.CurrentSort == "Date" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtAdminName" onclick="AdminReportSearch('Name', '')" class="left @(Model.CurrentSort == "Name" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Name " + (Model.CurrentSort == "Name" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtAdminEvent" onclick="AdminReportSearch('Event', '')" class="left @(Model.CurrentSort == "Event" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Event " + (Model.CurrentSort == "Event" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtAdminDoc" onclick="AdminReportSearch('Doc', '')" class="left @(Model.CurrentSort == "Doc" ? "Doc" : "UnselectedSort")">@Server.HtmlDecode("Doc " + (Model.CurrentSort == "Doc " ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div class="clear"></div>
                </div> 
                <div class="results right"></div>
                <div class="clear"></div>
            </div>

            <hr class="hrclass2 liltop" />                    
            <div class="limited" id="AuditTrailHeaders">
                <div style="width:149px !important" class="repeaterHeader1 left">Date</div>
                <div style="width:169px !important" class="repeaterHeader2 left">Name</div>
                <div style="width:179px !important" class="repeaterHeader3 left">Event</div>
                <div style="width:274px !important; border-right: none;" class="repeaterHeader4 left">Description</div>
                <div class="clear"></div>
            </div>
            <hr class="hrclass2" />    
        </div>
    </div>
</div>

<div id="AdminReportsDiv">
    <div class="modal" style="background-color: transparent;"></div>  
    @Html.Partial("_AdminMaintenanceSearch", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', 'ddlPageSizeReport', function () {
            AdminReportSearch('', '', 1);
        });
    });
</script>
