﻿@{
    ViewBag.Title = "Branch Reports";
}

@model IrisDataManagement.Models.BranchReport

<div id="frontpage" class="page">
    <div class="subpage">
        <div class="headerDiv">Electronic Passport Management System (EPMS)</div>
        <div class="headerDiv2">@Model.ReportName</div>
        <div class="headerDiv3">@Model.ReportSubHeader</div>
        <div class="headerDiv4">@Model.Interval</div>
        <div class="timestamp"><hr />@Model.TimeStamp</div>
    </div>
</div>

<div style="margin-top: 80px" class="page">
    <div class="timestamp2">
        <div class="left">@Model.TimeStamp</div>
        <div class="right">@Model.Page</div>
        <div class="clear"></div>
    </div>
    <div class="subpage2">
        <div class="mainheader">@Model.HeaderName</div>
        <div class="header2">@Model.SubInterval</div>

        <div class="headingx heading1 left">TYPE</div>
        <div class="headingx heading2 left">S/N</div>
        <div class="headingx heading3 left">BRANCH NAME</div>
        <div class="headingx heading4 left">ISSUED</div>
        <div class="headingx heading5 left">TOTAL</div>
        <div class="clear"></div>

    @if (Model != null)
    { 
        int maincount = 0;
        bool secondtime = false;
        if (Model.DiplomaticPassports.Count != 0)
        {
            int counter = 1;
            <div class="divborder">
                @foreach (KeyValuePair<string, int> pair in Model.DiplomaticPassports)
                {
                    <div class="bkx bktype left">@(counter == 1 ? "DIPLOMATIC" : "")</div>
                    <div class="bkx bkserial left">@counter</div>
                    <div class="bkx bkbranch left">@pair.Key</div>
                    <div class="bkx bkCount left">@pair.Value.ToString("n0")</div>
                    <div class="bkx bkTotal left"></div>
                    <div class="clear"></div>
                    counter++;
                    maincount++;

                    if (secondtime ? (maincount % 35 == 0) : (maincount % 32 == 0))
                    {
                        secondtime = true;
                        maincount = 0;
                        Model.Page++;
                        @Html.Partial("_ConditionalBankReport", Model);
                    }
                }

                <div class="bkx bktype left"></div>
                <div style="border-left-color: #999;" class="bkx bkserial left noborder"></div>
                <div class="bkx bkbranch left noborder"></div>
                <div class="bkx bkCount left noborder"></div>
                <div style="border-bottom: none;" class="bkx bkTotal left">@Model.DiplomaticPassportsTotal.ToString("n0")</div>
                <div class="clear"></div>
            </div>
        }

        if (Model.OfficialPassports.Count != 0)
        {
            int counter = 1;
            <div class="divborder">
                @foreach (KeyValuePair<string, int> pair in Model.OfficialPassports)
                {
                    <div style="@(counter == 1 ? "border-bottom:none;" : "")" class="bkx bktype left">@(counter == 1 ? "OFFICIAL" : "")</div>
                    <div class="bkx bkserial left">@counter</div>
                    <div class="bkx bkbranch left">@pair.Key</div>
                    <div class="bkx bkCount left">@pair.Value.ToString("n0")</div>
                    <div class="bkx bkTotal left"></div>
                    <div class="clear"></div>
                    counter++;
                    maincount++;

                    if (secondtime ? (maincount % 35 == 0) : (maincount % 32 == 0))
                    {
                        secondtime = true;
                        maincount = 0;
                        Model.Page++;
                        @Html.Partial("_ConditionalBankReport", Model);
                    }                  
                }

                <div class="bkx bktype left"></div>
                <div style="border-left-color: #999;" class="bkx bkserial left noborder"></div>
                <div class="bkx bkbranch left noborder"></div>
                <div class="bkx bkCount left noborder"></div>
                <div style="border-bottom: none;" class="bkx bkTotal left">@Model.OfficialPassportsTotal.ToString("n0")</div>
                <div class="clear"></div>
            </div>
        }

        if (Model.OrdinaryPassports.Count != 0)
        {
            int counter = 1;
            <div class="divborder">
                @foreach (KeyValuePair<string, int> pair in Model.OrdinaryPassports)
                {
                    <div style="@(counter == 1 ? "border-bottom:none;" : "")" class="bkx bktype left">@(counter == 1 ? "ORDINARY" : "")</div>
                    <div class="bkx bkserial left">@counter</div>
                    <div class="bkx bkbranch left">@pair.Key</div>
                    <div class="bkx bkCount left">@pair.Value.ToString("n0")</div>
                    <div class="bkx bkTotal left"></div>
                    <div class="clear"></div>
                    counter++;
                    maincount++;

                    if (secondtime ? (maincount % 35 == 0) : (maincount % 32 == 0))
                    {
                        secondtime = true;
                        maincount = 0;
                        Model.Page++;
                        @Html.Partial("_ConditionalBankReport", Model);
                    }
                }

                <div class="bkx bktype left"></div>
                <div style="border-left-color: #999;" class="bkx bkserial left noborder"></div>
                <div class="bkx bkbranch left noborder"></div>
                <div class="bkx bkCount left noborder"></div>
                <div style="border-bottom: none;" class="bkx bkTotal left">@Model.OrdinaryPassportsTotal.ToString("n0")</div>
                <div class="clear"></div>

                <div style="border-top: 3px solid #333" class="bkx bktype left noborder"></div>
                <div style="border-top: 3px solid #333" class="bkx bkserial left noborder"></div>
                <div style="border-top: 3px solid #333" class="bkx bkbranch left noborder"></div>
                <div style="border-top: 3px solid #333; padding-top:3px;" class="bkx bkCount left noborder">Overall Total</div>
                <div style="border-top: 3px solid #333" class="bkx bkTotal left">@((Model.OrdinaryPassportsTotal + Model.OfficialPassportsTotal + Model.DiplomaticPassportsTotal).ToString("n0"))</div>
                <div class="clear"></div>
            </div>
        }
    }
    </div>
</div>
