﻿@model IrisDataManagement.Models.BranchReport

</div>
</div>
</div>
<div style="margin-top: 80px" class="page">
    <div class="timestamp2">
        <div class="left">@Model.TimeStamp</div>
        <div class="right">@Model.Page</div>
        <div class="clear"></div>
    </div>
    <div class="subpage2">
        <div class="mainheader">@Model.HeaderName</div>
        <div class="header2">@Model.SubInterval</div>        

        <div class="headingx heading1 left">TYPE</div>
        <div class="headingx heading2 left">S/N</div>
        <div class="headingx heading3 left">BRANCH NAME</div>
        <div class="headingx heading4 left">ISSUED</div>
        <div class="headingx heading5 left">TOTAL</div>
        <div class="clear"></div>
        <div class="divborder">
