﻿@model IrisDataManagement.Models.MyDocuments
@Scripts.Render("~/bundles/mydocspartials")

<div id="createDocInner">
    <div class="introinfo medfirstletter">Here you can create a simple document (nothing too fancy) and save it in your public folder.</div>
    <div class="hint">
        <div>Notes:</div>
        <ul style="margin-top: 10px">
            <li>Sometimes its easier to <span class="clickable maximise">maximise</span> the box while you create the document.</li>
            <li>Copy & Paste is your friend!</li>
        </ul>
    </div>
    <div class="createUpload">
        @Html.HiddenFor(m => m.CreateSelectedFolder, new { id = "CreateSelectedFolder" })
        <div class="miniheader left">Select where you want to save the text file:</div>
        <div id="createFolderBtn" class="newFolderbtn Button shadow Hidden right"><i class="glyphicon glyphicon-plus"></i> New Folder</div>
        <div class="clear"></div>
        <div id="createfolderTreeDiv" class="questionswell well">
            <div class="modal"></div>
            @Html.Partial("_CreateDocFolderTree", Model)
        </div>
    </div>
   
    <div class="questionswell well" id="createdocInfoDiv">
        <div class="optionx advoption">
            <div class="left nlabel2">Name of Document</div>
            @Html.TextBoxFor(model => model.DocName, new { autocomplete = "off", id = "txtDocumentName", style = "font-size: 13px", @class = "otherTextbox left", @maxlength = "255" })
            <div style="margin-left: 5px; font-size: 14px" class="left">.txt</div>
            <div class="clear"></div>
        </div>
        <div class="optionxx advoption">
            <div class="left nlabel2">Keywords</div>
            @Html.TextBoxFor(model => model.Keywords, new { autocomplete = "off", id = "txtcreateKeywords", @class = "otherTextbox left", @maxlength = "255" })
            <div class="clear"></div>
            <div class="infobox">(Seperate each keyword with a comma)</div>
        </div>       
        <div class="optionxxx advoption">
            <div class="left nlabel2">Privilege Level</div>
            @Html.Hidden("LevelsArray", Model.Search.LevelsArray, new { id = "LevelArray" })
            @Html.HiddenFor(model => model.Level, new { id = "cmbcreateLevel", @class = "left", @style = "width:50px;" })
            <div class="clear"></div>
        </div>
        <div class="optionxxx advoption2">
            <div class="left nlabel2">Grant Privilege To Staff</div>
            @Html.Hidden("StaffArray", Model.Search.StaffIdAllArray, new { id = "StaffArray" })
            @Html.HiddenFor(model => model.SelectedStaff, new { id = "cmbcreateStaffAllowed", @class = "left", @style = "width:320px; margin-top: -9px;" })
            <div class="clear"></div>
        </div>
        <div class="optionxxx advoption3">
            <div class="left nlabel2">Grant Privilege To Dept</div>
            @Html.Hidden("DeptArray", Model.Search.DepartmentArray, new { id = "DeptArray" })
            @Html.HiddenFor(model => model.SelectedDept, new { id = "cmbCreateDocDept", @class = "left", @style = "width:320px; margin-top: -9px;" })
            <div class="clear"></div>
        </div>
    </div>
    <div class="editorDiv">
        @Html.HiddenFor(model => model.CreateDocument, new { id = "ckData" })
        <div  class="errormsg2"  id="ckerror"></div>
        @Html.TextAreaFor(model => model.CreateDocument, new { id = "editor1", name = "editor1", data_maxlen = "2500" })
        <script>
            CKEDITOR.basePath = '/ckeditor/';
            CKEDITOR.config.height = 300;
            CKEDITOR.replace('editor1');
        </script>
    </div>
    <script src="/ckeditor/plugins/maxlength/plugin.js" type="text/javascript"></script>
    <div onclick="verifyDoc()" style="margin: 20px 0px; padding: 0px 25px; font-size: 13px;" class="Button shadow slightRounded right" id="btnSaveDocument">Save</div>
    <div class="clear"></div>
</div>