﻿@model IrisDataManagement.Models.Search
@Styles.Render("~/Content/DocSearchControlCss")

<div id="DocsDiv">
    @Html.HiddenFor(m => m.NowViewing, new { id = "viewing" })
    <div class="modal" style="margin-top: 0px; "></div>    
    <div id="DocsInnerDiv" style="position: relative; padding-bottom: 50px">
        @if (Model.DocList.Count == 0)
        {
            <div class="nojobsfound">@Model.NoJobsMessage</div>
        }        

        @for (int i = 0; i < Model.DocList.Count; i++)
        { 
            IrisCommon.Entities.Document doc = Model.DocList[i];
            <div class="repeater repeaterx left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                <div class="docHeader left">@doc.DocName</div>
                <div class="docDate left">@(doc.DocDate == null ? string.Empty : doc.DocDate.Value.ToString("dd/MM/yyyy"))</div>
                <div class="docType left">@doc.DocType</div>
                <div title="@(doc.Location + (string.IsNullOrEmpty(doc.PhysicalLocation) ? "" : "(" + doc.PhysicalLocation + ")"))" class="docLocation left">@(doc.Location.Length > 30 ? doc.Location.Substring(0, 30) + "..." : doc.Location)</div>
                <div class="actions left">
                    @if (int.Parse(doc.Level) > Model.MyLevel && !doc.AllowId.Contains(Model.CurrentUserId) && !doc.AllowDeptId.Contains(Model.CurrentDeptId))
                    {
                        <div title="Level @(int.Parse(doc.Level))" class="Locked"></div>
                    }
                    else
                    {
                        if (!doc.HasPDF)
                        {
                            <div title="Preview File" class="ViewFile" style="opacity:0.2; cursor: default !important"></div>
                        }
                        else
                        {
                            <div title="Preview File" onclick="ShowPreview('@(doc.DocType)','@(doc.DocId)')" class="ViewFile"></div>
                        }
                        @Html.ActionLink(" ", "DownloadFile", new { doc_id = doc.DocId }, new { title="Download File", id = "btnDownload", @class = "DownloadFile" })
                        if (int.Parse(doc.Level) != 1 && Model.MyLevel >= int.Parse(doc.Level))
                        {
                            <div title="Unlock" id="unlockdoc@(doc.DocId)" class="Unlock"></div>
                            @Html.Hidden("allowedusers", null, new { id = "allowedusers" + doc.DocId, @Value = string.Join(",", doc.AllowId.Select(n => n.ToString()).ToArray()) })
                            @Html.Hidden("alloweddepts", null, new { id = "alloweddepts" + doc.DocId, @Value = string.Join(",", doc.AllowDeptId.Select(n => n.ToString()).ToArray()) })
                        }
                        else
                        {
                            <div title="Unlock" class="Unlockx"></div>
                        }
                    }
                </div>
                <div class="clear"></div>
            </div>
        }
        <div class="clear"></div>

        @if (Model.PageSize != "10" && Model.PageSize != "5")
        {
            <div class="fixed-wrapper" id="fixedParent">
                <div id="scrollToTop" title="Scroll to top" class="fixed"></div>
            </div>
        }

        @if (Model.PageCount > 1 || Model.DocList.Count > 3)
        {
            <div id="pagingDiv">
                <div class="left firstperc">
                    <label class="pagingLabel left">Docs per page:</label>
                    @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "pgDropdown left", style = "width: 45px; margin-top: 1px; padding: 5px 0px; border: 1px solid #ccc;", id = "ddlPageSize" })
                </div>
                    
                <div class="left secondperc" id="paging">
                    <div style="display: inline-block;">
                        @if (Model.NowViewing != 1)
                        {
                            <div class="linkButtons next left" onclick="DocSearch('', '@(Model.NowViewing - 1)')"><</div>
                        }
                        <div class="centeredMsg left">
                            @if (Model.PageCount != 1)
                            {
                                int counter = 0;
                                for (int i = 1; i < Model.PageCount + 1; i++)
                                {
                                    if (Model.PageCount > 9)
                                    {
                                        if (Model.NowViewing < 3)
                                        {
                                            if (i == Model.PageCount - 1)
                                            {
                                                <div class="linkButtons nextns left">...</div>
                                                <div class="linkButtons nextn left" onclick="DocSearch('', @(Model.PageCount), '', 1)">@(Model.PageCount)</div>
                                            }
                                            else if (i < 6)
                                            {
                                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                            }
                                        }
                                        else
                                        {
                                            if (i == 1)
                                            {
                                                <div class="linkButtons nextn left" onclick="DocSearch('', @(1), '', 1)">1</div>
                                                <div class="linkButtons nextns left">...</div>
                                            }

                                            else if (Model.NowViewing == 3 && i >= 3 && i <= 7)
                                            {
                                                counter++;
                                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                            }

                                            else if (Model.NowViewing == 4 && i >= 3 && i <= 7)
                                            {
                                                counter++;
                                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                            }

                                            else if (Model.NowViewing != 3 && Model.NowViewing != 4 && Model.NowViewing < Model.PageCount - 4 && i >= Model.NowViewing - 2 && i <= Model.NowViewing + 2)
                                            {
                                                counter++;
                                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                            }

                                            else if (Model.NowViewing == Model.PageCount - 4 && i >= Model.PageCount - 5)
                                            {
                                                counter++;
                                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                            }

                                            else if (Model.NowViewing >= Model.PageCount - 4 && i >= Model.PageCount - 4)
                                            {
                                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                            }

                                            if (counter == 5)
                                            {
                                                <div class="linkButtons nextns left"> ... </div>
                                                <div class="linkButtons nextn left" onclick="DocSearch('', @(Model.PageCount)), '', 1">@(Model.PageCount)</div>
                                                break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "DocSearch(''," + i + ", '', 1)" : " ")">@i</div>
                                    }
                                }
                            }
                            <div class="clear"></div>
                        </div>
                         @if (Model.NowViewing != Model.PageCount)
                         {
                            <div class="linkButtons next left" onclick="DocSearch('', '@(Model.NowViewing + 1)')">></div>
                         }
                         else
                         {
                            <div class="clear"></div>
                         }                         
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="nowViewing thirdperc right" style="line-height: 30px;" id="txtNowViewing">Page @(Model.NowViewing) of @(Model.PageCount)</div>
                <div class="clear"></div>        
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.repeatBox').hover(function () {
            $(this).find("div.jobPostDate, div.jobExpiryDate").stop(true, true).fadeIn();
        },
        function () {
            $(this).find("div.jobPostDate, div.jobExpiryDate").hide();
        });
    });

    $("#ddlPageSize").change(function () {
        DocSearch('', '', 1);
    });
</script>

