﻿@model IrisDataManagement.Models.Reports

<div id="GeneralviewReportInner">
    @Html.HiddenFor(m => m.NowViewing, new { id = "Generalviewing" })  
    @Html.HiddenFor(m => m.ReportType, new { id = "GeneralreportType" })     
    <div style="margin-top: 10px; margin-bottom: 70px">
        @if (true)
        {
            <div class="noreportsfound">@Model.NoReportsMessage</div>
        }   

        @if (Model.ReportsList.Count == 0)
        {
            <div class="noreportsfound">@Model.NoReportsMessage</div>
        }        

        @if (Model.ReportType == "0")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div style="margin-top: 20px;">
                    <div class="repeater repeaterxx left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                        <div title="@report.GeneralReportName" style="width: 350px; text-align: left; padding-left: 30px" onclick="ShowGeneralReport(@report.GeneralReportId)" class="reportName left">@report.GeneralReportName</div>
                        <div class="reportDocNumber left" style="font-weight: bold">@report.GeneralReportCount</div>
                        <div class="clear"></div>               
                    </div>
                </div>
            }
        }
        
        @if (Model.ReportType == "10")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                    <div style="width:150px" class="reportViewDate left">@(report.AuditItem.TimeStamp.ToString("dd/MM/yyyy hh:mmtt").ToLower())</div>
                    <div style="width:200px" class="reportName left">@(report.AuditItem.User == null ? "" : report.AuditItem.User.FullName)</div>
                    <div style="width:150px" class="reportBank left">@report.AuditItem.EventTypeName</div>
                    <div style="width:275px" class="reportVerificationReason left">@(report.AuditItem.Doc == null ? "" : report.AuditItem.Doc.DocName)</div>
                    <div class="clear"></div>               
                </div>
            }
        }
        
        @if (Model.ReportType == "20")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                    <div onclick="ShowStaffPreview('@(report.IrisUser.Person_Id)')"  style="width:204px; padding-left: 10px; text-align: left" class="reportName username left">@(report.IrisUser.FullName == null ? "" : report.IrisUser.FullName)</div>
                    <div style="width:250px" class="reportViewDate left">@(report.IrisUser.DepartmentName)</div>
                    @if (Model.IsAdmin)
                    {
                        <div style="width:109px" id="txtlvl@(report.IrisUser.Person_Id)" onclick="ShowClearance(@report.IrisUser.ClearanceLevel, @report.IrisUser.Person_Id)" class="reportBank clickable left">@report.IrisUser.ClearanceLevel</div>
                    }
                    else
                    { 
                        <div style="width:109px" class="reportBank left">@report.IrisUser.ClearanceLevel</div>
                    }
                    <div style="width:169px" class="reportViewDate left">@(report.IrisUser.DateOfRegistration.ToString("dd/MM/yyyy hh:mmtt").ToLower())</div>
                    <div class="clear"></div>               
                </div>
            }
        }
        
        <div class="clear"></div>

        <div id="Generalppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
            <div class="Generalpopupinnerdiv"></div>
        </div>

        @if (Model.IsAdmin)
        {
            <div id="UpdateStaffLevel" class="PopupWindow Hidden">
                <div class="closebtn closeme">X</div>
                <div class="left nlabel" style="width: auto">Set staff access level:</div>
                <select id="cmbLevel" class="left" style="margin: 0px 10px 0px 5px;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                @Html.Hidden("selectedid", null, new { id = "selectedid" })
                <div id="updatelevelbtn" class="Button hoverfade left" style="width: 60px;line-height: 25px;height: 25px;margin: -4px 10px 10px 0px;">Update</div>
                <div id="regloadingdiv" style="margin:-30px 10px 0px -10px" class="loadingdiv loading left Hidden"><div class="lilmodal"></div></div>
                <div class="clear"></div>    
            </div>
        }

        @if (Model.PageSize != "10" && Model.PageSize != "5")
        {
            <div class="fixed-wrapper" id="fixedParent">
                <div id="scrollToTop" title="Scroll to top" class="fixed"></div>
            </div>
            
        }

        @if (Model.PageCount > 1)
        {
            <div class="pagingDiv" id="GeneralpagingDiv">
                  @Html.Partial("_PagingDiv", Model)
            </div>
        }
    </div>
</div>
