﻿@{
    ViewBag.Title = "_NibssMaintenance";
}

@model IrisDataManagement.Models.Reports
@Styles.Render("~/Content/DocSearchControlCss")

<div class="selectreport well">
    <div>
        <div class="left nlabel2" style="width:auto; min-width: 0px;">Select Report</div>
        @Html.Hidden("GeneralReportsArray", Model.IrisUsers, new { id = "GeneralReportsArray" })
        @Html.HiddenFor(model => model.ReportType, new { id = "GeneralcmbReportType", @class = "left", @style = "width:300px; font-size: 13px;" })  
    </div>
    <div id="Generalspecificdiv" class="right Hidden">
        @Html.TextBoxFor(model => model.IntervalStart, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "GeneraltxtFromDatex", @class = "jdpicker left" })
        <div class="left todiv">To</div>
            @Html.TextBoxFor(model => model.IntervalEnd, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "GeneraltxtToDatex", @class = "jdpicker left" })
        <div class="gobutton left" onclick="GeneralReportSearch('', '', '')" id="specificbtn"></div>
        <div class="clear"></div>
    </div>         
    <div class="clear"></div>
</div>

<div class="SearchResults Hidden">
    <div id="GeneraldocSearchDiv" class="docSearchDivM">
        <div id='divOrder' class="Sorter">
            <div class="sortInfo Hidden">
                <div style="font-size: 12px" class="left">Sort by : </div>
                <div class="left sortOptions" id="UsersOptions">
                    @Html.Hidden("Generalisdesc", null, new { id = "Generalisdesc", @Value = "&#9660;" })
                    @Html.Hidden("GeneralhasChanged", null, new { id = "GeneralhasChanged", @Value = "0" })
                    @Html.HiddenFor(model => model.CurrentSort, new { id = "Generalcurrentsort" })
                    <div id="txtGeneralName" onclick="GeneralReportSearch('Name', '')" class="left @(Model.CurrentSort == "Name" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Name " + (Model.CurrentSort == "Name" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtGeneralRegistrationDate" onclick="GeneralReportSearch('RegistrationDate', '')" class="left @(Model.CurrentSort == "RegistrationDate" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("RegistrationDate" + (Model.CurrentSort == "RegistrationDate" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtGeneralClearance" onclick="GeneralReportSearch('Clearance', '')" class="left @(Model.CurrentSort == "Clearance" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Clearance " + (Model.CurrentSort == "Clearance" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtGeneraDepartment" onclick="GeneralReportSearch('Department', '')" class="left @(Model.CurrentSort == "Department" ? "Doc" : "UnselectedSort")">@Server.HtmlDecode("Department " + (Model.CurrentSort == "Department " ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="results right"></div>
                <div class="clear"></div>
            </div>

            <hr class="hrclass2 liltop" />                    
            <div class="limited" id="UsersHeaders">
                <div style="width:204px !important" class="repeaterHeader1 left">Name</div>
                <div style="width:250px !important;" class="repeaterHeader4 left">Department</div>
                <div style="width:109px !important" class="repeaterHeader3 left">Clearance</div>
                <div style="width:169px !important; border-right: none;" class="repeaterHeader2 left">Date of Reg</div>
                <div class="clear"></div>
            </div>
            <hr class="hrclass2" />    
        </div>
    </div>
</div>

<div style="min-height: 200px" id="GeneralReportsDiv">
    <div class="modal" style="background-color: transparent;"></div>  
    @Html.Partial("_GeneralReportSearch", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', 'ddlPageSizeReport', function () {
            GeneralReportSearch('', '', 1);
        });
    });
</script>
