﻿<!DOCTYPE html>
@model IrisDataManagement.Models.BigModel
<html id="mainhtml"  lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        @Styles.Render("~/Content/general")
    </head>
    <body id="wrapper">
        <header class="header">
            <div class="content-wrapper">
                <a href="/"><div class="irislogo left"></div></a>
                <div class="logo left">Iris Document Repository (i-Doc)</div>
                <div class="clear"></div>

                @if (!Model.HideLogin)
                {
                    @Html.Partial("_LoginControl", Model.LoginModel)  
                }
            </div>
            <div class="menubar">
                <div class="menux">
                    <a class="menulink" href="/"><div class="menuitemx">Home</div></a>
                    <a class="menulink" href="/Search"><div class="menuitemx" style="border-left: none; border-right: none;">Search</div></a>
                    <a class="menulink" href="/MyDocuments"><div class="menuitemx">My Docs</div></a>
                    <a class="menulink" href="/Reports"><div class="menuitemx right">Reports</div></a>
                    <a class="menulink" href="/Calender"><div class="menuitemx right" style="border-right: none;">Calendar</div></a>
                    <a class="menulink" target="_blank" href="http://10.10.10.50:495"><div class="menuitemx right" style="border-right: none;">Dashboards</div></a>
                    <div class="clear"></div>
                </div>
            </div>
        </header>
                
        <div id="content">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="footernote">©@(DateTime.Now.Year) - Iris Smart Technologies Ltd</div>
        </footer>
        @Scripts.Render("~/bundles/master")
        @RenderSection("scripts", required: false)

        <div id="printable" class="Hidden">
            <div id="branchReportDiv"></div>
        </div>
    </body>
</html>

