﻿@model IrisDataManagement.Models.LoginModel
    @if (Session["CurrentUser"] != null && User.Identity.IsAuthenticated)
    {
        if (!string.IsNullOrEmpty(Model.FirstName))
        {
            using (Html.BeginForm("LogOut", "Account", new { returnUrl = Request.Path }))
            {
            @Html.AntiForgeryToken()
            <div id="divLoggedIn" class="DisplayLogin loggedIn">
                <div class="accountoptions right">
                    <ul id="menu2">
                        <li class="menuitem">
                            <div class="setupbtn"></div>
                            <div class="submenu2 outersub">
                                <div class="ssmenu">
                                    <div>
                                        <a href="/MyAccount"><div>My Account</div><div class="clear"></div></a> 
                                    </div>
                                </div>
                                <div class="ssmenu" style="margin-bottom: -8px">
                                    <div>
                                        <input class="GenButtonx signoutBtn" type="submit" name="btnSearch" value="Sign Out" id="btnSignOut" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                @if (Model != null)
                {
                    <div id="txtLoginTextfo" class="right">@(Model.FirstName)  @(Model.Surname)</div>
                }
                <div class="clear"></div>
            </div>
            }
        }
    }
    else
    {
        
    }