﻿@model IrisDataManagement.Models.BigModel

<div id="loginRegisterDiv" class="botDiv innerPopupwindow" style="padding: 20px 20px 0px 20px">
    <div id="applyMsg" style="margin: -5px 0px -5px 6px" class="loginFirstText2 arrowd">@Model.ErrorMsg</div>

    @if (Model.Flipit)
    {
        <div style="margin-right:30px;" class="LogDivRight pnlLogin left">
            <div class="newToAjw">New to AJW?</div>
            <div class="bluetext" style="font-size: 19px;  margin-top: 15px">Get started now. It's FREE!</div>
            @Html.Partial("RegisterControl", Model.RegisterModel)   
        </div>
        <div class="VerticalDemarcation"></div>
        <div style="position: relative" class="LogDivLeft left">        
            @Html.Partial("Login", Model.LoginModel)   
        </div>
        <div class="clear"></div>
        <div class="LoadingDiv" style="position: absolute;bottom: 5px; left: 5px; height: 50px; width: 50px; ">
            <div class="smallmodal"></div>
        </div>
    }
    else
    {
        <div style="margin-right:30px; position: relative" class="LogDivLeft pnlLogin left">        
            @Html.Partial("Login", Model.LoginModel)   
        </div>
        <div class="VerticalDemarcation"></div>
        <div id="jsLoginDiv" class="LogDivRight left">
            <div class="newToAjw">New to AJW?</div>
            <div class="bluetext" style="font-size: 19px;  margin-top: 15px">Get started now. It's FREE!</div>
            @Html.Partial("RegisterControl", Model.RegisterModel)   
        </div>
        <div class="clear"></div>
        <div class="LoadingDiv" style="position: absolute;bottom: 5px; left: 5px; height: 50px; width: 50px; ">
            <div class="smallmodal"></div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtPhoneNumber').keyup(function (e) {
            if (/\D/g.test(this.value)) {
                this.value = this.value.replace(/\D/g, '');
            }
        });
    });
</script>