﻿<script type="text/javascript" src="@Url.Content("~/scripts/jquery-ui-1.10.4.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/elfinder/js/elfinder.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/elfinder/js/i18n/elfinder.en.js")"></script>
@model IrisDataManagement.Models.MyDocuments
 <script type="text/javascript">
    $(function () {
        var myCommands = elFinder.prototype._options.commands;
        var disabled = ['extract', 'archive', 'help', 'select', 'mkfile', 'mkdir', 'upload'];
        $.each(disabled, function (i, cmd) {
            (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
        });
        var selectedFile = null;
        var options = {
            url: 'connector',
            commands: myCommands,
            lang: 'en',
            uiOptions: {
                toolbar: [
                      // ['back', 'forward'], ['reload'], ['mkdir', 'mkfile', 'upload'], ['download'], ['info'], ['quicklook'], ['rm'], ['duplicate', 'rename'], ['view', 'sort']
                      ['back', 'forward'], ['reload'], ['info'], ['rm'], ['rename'], ['view', 'sort']
                ]
            },
            contextmenu: {
                // current directory file menu
                // files: ['getfile', '|', 'open', 'quicklook', '|', 'download', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'edit', 'rename', 'resize', '|', 'archive', 'extract', '|', 'info']
                files: ['getfile', '|', 'rm', '|', 'cut', 'paste', '|', 'rename', '|', 'info']
                },
            handlers: {
                select: function (event, elfinderInstance) {

                    if (event.data.selected.length == 1) {
                        var item = $('#' + event.data.selected[0]);
                        if (!item.hasClass('directory')) {
                            selectedFile = event.data.selected[0];
                            $('#elfinder-selectFile').show();
                            return;
                        }
                    }
                    $('#elfinder-selectFile').hide();
                    selectedFile = null;
                }
            }
        };
        $('#elfinder').elfinder(options).elfinder('instance');

        $('.elfinder-toolbar:first').append('<div class="ui-widget-content ui-corner-all elfinder-buttonset" id="elfinder-selectFile" style="display:none; float:right;">' +
           '<div class="ui-state-default elfinder-button" title="Select" style="width: 100px;"></div>');
        $('#elfinder-selectFile').click(function () {
            if (selectedFile != null)
                $.post('files/selectFile', { target: selectedFile }, function (response) {
                    alert(response);
                });

        });
    });
</script>

<div style="font-size: 16px" id="elfinder"></div>
