﻿@model IrisDataManagement.Models.Reports

<div id="viewReportInner">
    @Html.HiddenFor(m => m.NowViewing, new { id = "viewing" })   
    @Html.HiddenFor(m => m.ReportType, new { id = "reportType" })       
    <div style="margin-top: 10px; margin-bottom: 70px">
        @if (Model.ReportsList.Count == 0)
        {
            <div class="noreportsfound">@Model.NoReportsMessage</div>
        }        

        @if (Model.ReportType == "0")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div style="margin-top: 20px;">
                    <div class="repeater repeaterxx left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                        <div title="@report.GeneralReportName" style="width: 350px; text-align: left; padding-left: 30px" onclick="ShowGeneralReport(@report.GeneralReportId)" class="reportName left">@report.GeneralReportName</div>
                        <div class="reportDocNumber left" style="font-weight: bold">@report.GeneralReportCount</div>
                        <div class="clear"></div>               
                    </div>
                </div>
            }
        }
        
        @if (Model.ReportType == "1")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            { 
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                    <div title="@report.FullName" onclick="ShowPassportPreview('@(report.DocRefNum)')" class="reportName left">@(report.FullName.Length > 30 ? report.FullName.Substring(0, 30) + "..." : report.FullName)</div>
                    <div class="reportDocNumber left">@report.DocRefNum</div>
                    <div class="reportBank left">@report.Bank.BankName</div>
                    <div class="reportBankBranch left" title="@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Bank.BranchName)">@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Bank.BranchName.Length > 10 ? report.Bank.BranchName.Substring(0, 10) + "..." : report.Bank.BranchName)</div>
                    <div title="@report.Operator.FullName" class="reportOprName left">@(report.Operator.FullName.Length > 30 ? report.Operator.FullName.Substring(0, 30) + "..." : report.Operator.FullName)</div>
                    <div class="reportViewDate left">@(report.ViewDate.ToString("dd/MM/yyyy"))</div>
                    <div class="reportVerificationReason left" title="@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.VerificationReason)">@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.VerificationReason.Length > 22 ? report.VerificationReason.Substring(0, 18) + "..." : report.VerificationReason)</div>
                    <div class="clear"></div>               
                </div>
            }
        }
        
        @if (Model.ReportType == "2")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            {
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">  
                    <div class="reportViewDate left">@(report.Operator.OperatorId)</div>  
                    <div title="@report.Operator.FullName" style="width: 151px" class="left">@(report.Operator.FullName.Length > 30 ? report.Operator.FullName.Substring(0, 30) + "..." : report.Operator.FullName)</div>
                    <div class="reportBank left">@report.Bank.BankName</div>
                    <div class="reportBankBranch left" title="@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Bank.BranchName)">@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Bank.BranchName.Length > 10 ? report.Bank.BranchName.Substring(0, 10) + "..." : report.Bank.BranchName)</div>
                    <div class="reportViewDate left">@(report.Operator.LoginDate.ToString("dd/MM/yyyy"))</div>
                    <div class="left" style="padding-left: 5px" title="@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Operator.Comments)">@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Operator.Comments.Length > 42 ? report.Operator.Comments.Substring(0, 38) + "..." : report.Operator.Comments)</div>
                    <div class="clear"></div>               
                </div>
            }
        }
        
        @if (Model.ReportType == "3")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            {
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">  
                    <div style="width:131px" class="left">@(report.Message.GSMNumber)</div> 
                    <div style="width:291px; text-align: left;" class="left">@(report.Message.MessageText)</div>  
                    <div style="width:151px" class="left">@(report.Message.SentDate)</div>  
                    <div style="width:201px" class="left">@(report.Message.ErrorMessage)</div>   
                    <div class="clear"></div>               
                </div>
            }
        }
        
        @if (Model.ReportType == "4")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            {
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="line-height: 24px; background-color:@(i % 2 == 1 ? "#eee" : "white")">  
                    <div style="width:251px; word-wrap:break-word;" class="left">@(report.Message.EmailAddress)</div> 
                    <div style="width:301px; text-align: left; padding-left: 5px;" class="left">@(report.Message.MessageText)</div> 
                    <div style="width:151px" class="left">@(report.Message.SentDate)</div>  
                    <div style="width:65px; cursor: pointer; color: #369;" title="@(report.Message.ErrorMessage)" class="left">@(string.IsNullOrEmpty(report.Message.ErrorMessage) ? "Failed" : "")</div>   
                    <div class="clear"></div>               
                </div>
            }
        }
        
        @if (Model.ReportType == "5")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            {
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">  
                    <div style="width:326px; text-align: left;" class="left">@(report.Error.Message)</div> 
                    <div style="width:146px" class="left">@(report.Error.MachineIP)</div>  
                    <div style="width:151px" class="left">@(report.Error.ExceptionDate)</div> 
                    <div style="width:151px" class="left">@(report.Error.Browser)</div>   
                    <div class="clear"></div>               
                </div>
            }
        }
        
        @if (Model.ReportType == "6")
        {
            for (int i = 0; i < Model.ReportsList.Count; i++)
            {
                IrisCommon.Entities.Report report = Model.ReportsList[i];
                <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">  
                    <div style="width:150px" class="left">@(report.Cursor.Value)</div> 
                    <div style="width:250px" class="left">@(report.Cursor.Name)</div> 
                    <div style="width:150px" class="left">@(report.Cursor.SID)</div>  
                    <div class="clear"></div>               
                </div>
            }
        }
        
        <div class="clear"></div>

        <div id="ppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
             <div class="popupinnerdiv"></div>
        </div>

        @if (Model.PageSize != "10" && Model.PageSize != "5")
        {
            <div class="fixed-wrapper" id="fixedParent">
                <div id="scrollToTop" title="Scroll to top" class="fixed"></div>
            </div>
            
        }

        @if (Model.PageCount > 1)
        {
            <div class="pagingDiv" id="pagingDiv">
                  @Html.Partial("_PagingDiv", Model)
            </div>
        }
    </div>
</div>
