﻿@{
    ViewBag.Title = "_NibssMaintenance";
}

@model IrisDataManagement.Models.Reports
@Styles.Render("~/Content/DocSearchControlCss")

<div class="selectreport well">
    <div class="left nlabel2" style="min-width: 0px;">Select Report</div>
    @Html.Hidden("ReportsArray", Model.ReportsArray, new { id = "ReportsArray" })
    @Html.HiddenFor(model => model.ReportType, new { id = "cmbReportType", @class = "left", @style = "width:300px; font-size: 13px;" })  
    
    <div id="specificdiv" class="right hidden">
        @Html.TextBoxFor(model => model.IntervalStart, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "txtFromDatex", @class = "jdpicker left" })
        <div class="left todiv">To</div>
            @Html.TextBoxFor(model => model.IntervalEnd, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "txtToDatex", @class = "jdpicker left" })
        <div class="gobutton left" onclick="ReportSearch('', '', '')" id="specificbtn"></div>
        <div class="clear"></div>
    </div>         
    <div class="clear"></div>
</div>

<div class="SearchResults Hidden">
    <div id="docSearchDiv" class="docSearchDivM">
        <div id='divOrder' class="Sorter">
            <div class="sortInfo">
                <div style="font-size: 12px" class="left">Sort by : </div>
                <div class="left sortOptions" id="PassportSortOptions">
                    @Html.Hidden("isdesc", null, new { id = "isdesc", @Value = "&#9660;" })
                    @Html.Hidden("hasChanged", null, new { id = "hasChanged", @Value = "0" })
                    @Html.HiddenFor(model => model.CurrentSort, new { id = "currentsort" })
                    <div id="txtDate" onclick="ReportSearch('Date', '')" class="left @(Model.CurrentSort == "Date" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Date" + (Model.CurrentSort == "Date" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtName" onclick="ReportSearch('Name', '')" class="left @(Model.CurrentSort == "Name" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Name " + (Model.CurrentSort == "Name" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtRefNo" onclick="ReportSearch('RefNo', '')" class="left @(Model.CurrentSort == "RefNo" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Ref No " + (Model.CurrentSort == "RefNo" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtBank" onclick="ReportSearch('Bank', '')" class="left @(Model.CurrentSort == "Bank" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Bank " + (Model.CurrentSort == "Bank" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtBranch" onclick="ReportSearch('Branch', '')" class="left @(Model.CurrentSort == "Branch" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Branch " + (Model.CurrentSort == "Branch" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtOperator" onclick="ReportSearch('Operator', '')" class="left @(Model.CurrentSort == "Operator" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Operator " + (Model.CurrentSort == "Operator" ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="left sortOptions" id="LoginSortOptions">
                    <div id="txtLoginDate" onclick="ReportSearch('LoginDate', '')" class="left @(Model.CurrentSort == "LoginDate" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Login Date" + (Model.CurrentSort == "LoginDate" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtOprName" onclick="ReportSearch('OprName', '')" class="left @(Model.CurrentSort == "OprName" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Opr Name " + (Model.CurrentSort == "OprName" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtWebAccId" onclick="ReportSearch('WebAccId', '')" class="left @(Model.CurrentSort == "WebAccId" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Web Acc ID " + (Model.CurrentSort == "WebAccId" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtOprBank" onclick="ReportSearch('OprBank', '')" class="left @(Model.CurrentSort == "OprBank" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Bank " + (Model.CurrentSort == "OprBank" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtOprBranch" onclick="ReportSearch('OprBranch', '')" class="left @(Model.CurrentSort == "OprBranch" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Branch " + (Model.CurrentSort == "OprBranch" ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="left sortOptions" id="MessageOptionsGSM">
                    <div id="txtGSM" onclick="ReportSearch('GSM', '')" class="left @(Model.CurrentSort == "GSM" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("GSM" + (Model.CurrentSort == "GSM" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtMsgTxt" onclick="ReportSearch('MsgTxt', '')" class="left @(Model.CurrentSort == "MsgTxt" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Message " + (Model.CurrentSort == "MsgTxt" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtMsgSentDate" onclick="ReportSearch('MsgSentDate', '')" class="left @(Model.CurrentSort == "MsgSentDate" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Date Sent " + (Model.CurrentSort == "MsgSentDate" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtMsgErrormsg" onclick="ReportSearch('MsgErrormsg', '')" class="left @(Model.CurrentSort == "MsgErrormsg" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Error " + (Model.CurrentSort == "MsgErrormsg" ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="left sortOptions" id="MessageOptionsEmail">
                    <div id="txtEmail" onclick="ReportSearch('Email', '')" class="left @(Model.CurrentSort == "Email" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Email" + (Model.CurrentSort == "Email" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtMsgTxtEmail" onclick="ReportSearch('MsgTxtEmail', '')" class="left @(Model.CurrentSort == "MsgTxtEmail" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Message " + (Model.CurrentSort == "MsgTxtEmail" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtMsgSentDateEmail" onclick="ReportSearch('MsgSentDateEmail', '')" class="left @(Model.CurrentSort == "MsgSentDateEmail" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Date Sent " + (Model.CurrentSort == "MsgSentDateEmail" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtMsgErrormsgEmail" onclick="ReportSearch('MsgErrormsgEmail', '')" class="left @(Model.CurrentSort == "MsgErrormsgEmail" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Error " + (Model.CurrentSort == "MsgErrormsgEmail" ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="left sortOptions" id="ErrorsOptions">
                    <div id="txExDate" onclick="ReportSearch('ExDate', '')" class="left @(Model.CurrentSort == "ExDate" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Ex Date" + (Model.CurrentSort == "ExDate" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtErrMsgTxt" onclick="ReportSearch('ErrMsg', '')" class="left @(Model.CurrentSort == "ErrMsg" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Message " + (Model.CurrentSort == "ErrMsg" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtErrMachineIp" onclick="ReportSearch('ErrMachineIp', '')" class="left @(Model.CurrentSort == "ErrMachineIp" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Machine IP " + (Model.CurrentSort == "ErrMachineIp" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtErrBrowser" onclick="ReportSearch('ErrBrowser', '')" class="left @(Model.CurrentSort == "ErrBrowser" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Browser " + (Model.CurrentSort == "ErrBrowser" ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="left sortOptions" id="CursorsOptions">
                    <div id="txtCursorVal" onclick="ReportSearch('CursorVal', '')" class="left @(Model.CurrentSort == "CursorVal" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Cursor Val " + (Model.CurrentSort == "CursorVal" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtCursorName" onclick="ReportSearch('CursorName', '')" class="left @(Model.CurrentSort == "CursorName" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Cursor Name " + (Model.CurrentSort == "CursorName" ? Model.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtCursorSid" onclick="ReportSearch('CursorSid', '')" class="left @(Model.CurrentSort == "CursorSid" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Cursor Sid " + (Model.CurrentSort == "CursorSid" ? Model.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="results right"></div>
                <div class="clear"></div>
            </div>

            <hr class="hrclass2 liltop" />                    
            <div class="limited" id="PassportSortHeaders">
                <div class="repeaterHeader1 left">NAME</div>
                <div class="repeaterHeader2 left">REF NO</div>
                <div class="repeaterHeader3 left">BANK</div>
                <div class="repeaterHeader4 left">BRANCH</div>
                <div class="repeaterHeader5 left">OPERATOR</div>
                <div class="repeaterHeader6 left">DATE</div>
                <div class="repeaterHeader7 left">REASON</div>
                <div class="clear"></div>
            </div>
            <div class="limited" id="OperatorLoginHeaders">
                <div class="repeaterHeader6 left">WEBB ACC ID</div>
                <div class="repeaterHeader1 left">NAME</div>
                <div class="repeaterHeader3 left">BANK</div>
                <div class="repeaterHeader4 left">BRANCH</div>
                <div class="repeaterHeader6 left">DATE</div>
                <div class="repeaterHeader7 left" style="width: 220px !important;">COMMENT</div>
                <div class="clear"></div>
            </div>
            <div class="limited" id="MessageHeadersGSM">
                <div class="repeaterHeader6 left" style="width: 130px !important;">GSM NUM</div>
                <div class="repeaterHeader1 left" style="width: 290px !important;">MESSAGE</div>
                <div class="repeaterHeader3 left" style="width: 150px !important;">DATE SENT</div>
                <div class="repeaterHeader4 left" style="width: 200px !important;">ERROR</div>
                <div class="clear"></div>
            </div>
            <div class="limited" id="MessageHeadersEmail">
                <div class="repeaterHeader6 left" style="width: 251px !important;">EMAIL ADDRESS</div>
                <div class="repeaterHeader1 left" style="width: 301px !important;">MESSAGE</div>
                <div class="repeaterHeader3 left" style="width: 151px !important;">DATE SENT</div>
                <div class="repeaterHeader4 left" style="width: 65px !important; border-right: none;">ERROR</div>
                <div class="clear"></div>
            </div>
            <div class="limited" id="ErrorHeaders">
                <div class="repeaterHeader1 left" style="width: 325px !important;">MESSAGE</div>
                <div class="repeaterHeader3 left" style="width: 145px !important;">MACHINE IP</div>
                <div class="repeaterHeader6 left" style="width: 150px !important;">DATE</div>
                <div class="repeaterHeader4 left" style="width: 150px !important;">BROWSER</div>
                <div class="clear"></div>
            </div>
            <div class="limited" id="CursorHeaders">
                <div class="repeaterHeader6 left" style="width: 150px !important;">VALUE</div>
                <div class="repeaterHeader1 left" style="width: 250px !important;">NAME</div>
                <div class="repeaterHeader3 left" style="width: 150px !important;">SID</div>
                <div class="clear"></div>
            </div>
            <hr class="hrclass2" />    
        </div>
    </div>
</div>

<div id="ReportsDiv">
    <div class="modal" style="background-color: transparent;"></div>  
    @Html.Partial("_NibssMaintenanceSearch", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '#ddlPageSizeReport', function () {
            ReportSearch('', '', 1);
        });
    });
</script>
