﻿@model IrisDataManagement.Models.Reports

<div id="viewReportInnerBankLogin">
    @Html.HiddenFor(m => m.NowViewingBankLogin, new { id = "viewingBankLogin" })      
    <div style="margin-top: 10px; margin-bottom: 70px">
        @if (Model.ReportsList.Count == 0)
        {
            <div class="noreportsfound">@Model.NoReportsMessage</div>
        }        

        @for (int i = 0; i < Model.ReportsList.Count; i++)
        { 
            IrisCommon.Entities.Report report = Model.ReportsList[i];
            <div class="repeater left" style="background-color:@(i % 2 == 1 ? "#eee" : "white")">    
                <div title="@report.Operator.FullName" class="reportOprName left">@(report.Operator.FullName.Length > 30 ? report.Operator.FullName.Substring(0, 30) + "..." : report.Operator.FullName)</div>
                <div class="reportBank left">@report.Bank.BankName</div>
                <div class="reportBankBranch left" title="@IrisDataManagement.Helpers.iHelper.ToFirstLetterUpperOnly(report.Bank.BranchName)">@IrisDataManagement.Helpers.iHelper.ToFirstLetterUpperOnly(report.Bank.BranchName.Length > 10 ? report.Bank.BranchName.Substring(0, 10) + "..." : report.Bank.BranchName)</div>
                <div class="reportViewDate left">@(report.Operator.LoginDate.ToString("dd/MM/yyyy"))</div>
                <div class="reportVerificationReason left" title="@IrisDataManagement.Helpers.iHelper.ToFirstLetterUpperOnly(report.Operator.Comments)">@IrisDataManagement.Helpers.iHelper.ToFirstLetterUpperOnly(report.Operator.Comments.Length > 22 ? report.VerificationReason.Substring(0, 18) + "..." : report.Operator.Comments)</div>
                <div class="clear"></div>               
            </div>
        }
        <div class="clear"></div>

        <div id="ppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
             <div class="popupinnerdiv"></div>
        </div>

        @if (Model.PageSize != "10" && Model.PageSize != "5")
        {
            <div class="fixed-wrapper" id="fixedParent">
                <div id="scrollToTop" title="Scroll to top" class="fixed"></div>
            </div>            
        }

        @if (Model.PageCount > 1 || Model.ReportsList.Count > 3)
        {
            <div id="pagingDiv">
                  @Html.Partial("_PagingDiv", Model)
            </div>
        }
    </div>
</div>
