﻿ @model IrisDataManagement.Models.Reports
 
 <div class="left firstperc">
    <label class="pagingLabel left">Docs per page:</label>
    @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "pgDropdown left", style = "width: 45px; margin-top: 1px; padding: 5px 0px; border: 1px solid #ccc;", id = "ddlPageSizeReport" })
</div>
                    
<div class="left secondperc" id="paging">
    <div style="display: inline-block;">
        @if (Model.NowViewing != 1)
        {
            <div class="linkButtons next left" onclick="ReportSearch('', '@(Model.NowViewing - 1)')"><</div>
        }
        <div class="centeredMsg left">
            @if (Model.PageCount != 1)
            {
                int counter = 0;
                for (int i = 1; i < Model.PageCount + 1; i++)
                {
                    if (Model.PageCount > 9)
                    {
                        if (Model.NowViewing < 3)
                        {
                            if (i == Model.PageCount - 1)
                            {
                                <div class="linkButtons nextnsx left">...</div>
                                <div class="linkButtons nextn left" onclick="ReportSearch('', @(Model.PageCount), '', 0)">@(Model.PageCount)</div>
                            }
                            else if (i < 6)
                            {
                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                            }
                        }
                        else
                        {
                            if (i == 1)
                            {
                                <div class="linkButtons nextn left" onclick="ReportSearch('', @(1), '', 0)">1</div>
                                <div class="linkButtons nextnsx left">...</div>
                            }

                            else if (Model.NowViewing == 3 && i >= 3 && i <= 7)
                            {
                                counter++;
                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                            }

                            else if (Model.NowViewing == 4 && i >= 3 && i <= 7)
                            {
                                counter++;
                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                            }

                            else if (Model.NowViewing != 3 && Model.NowViewing != 4 && Model.NowViewing < Model.PageCount - 4 && i >= Model.NowViewing - 2 && i <= Model.NowViewing + 2)
                            {
                                counter++;
                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                            }

                            else if (Model.NowViewing == Model.PageCount - 4 && i >= Model.PageCount - 5)
                            {
                                counter++;
                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                            }

                            else if (Model.NowViewing >= Model.PageCount - 4 && i >= Model.PageCount - 4)
                            {
                                <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                            }

                            if (counter == 5)
                            {
                                <div class="linkButtons nextnsx left"> ... </div>
                                <div class="linkButtons nextn left" onclick="ReportSearch('', @(Model.PageCount)), '', 1">@(Model.PageCount)</div>
                                break;
                            }
                        }
                    }
                    else
                    {
                        <div class="linkButtons @(i == Model.NowViewing ? "nextns" : "nextn") left" onclick="@(i != Model.NowViewing ? "ReportSearch(''," + i + ", '', 0)" : " ")">@i</div>
                    }
                }
            }
            <div class="clear"></div>
        </div>
            @if (Model.NowViewing != Model.PageCount)
            {
            <div class="linkButtons next left" onclick="ReportSearch('', '@(Model.NowViewing + 1)')">></div>
            }
            else
            {
            <div class="clear"></div>
            }                         
        <div class="clear"></div>
    </div>
</div>

<div class="nowViewing thirdperc right" style="line-height: 30px;" id="txtNowViewing">Page @(Model.NowViewing) of @(Model.PageCount)</div>
<div class="clear"></div>     