﻿@{
    ViewBag.Title = "Passport Reports";
}

@model IrisDataManagement.Models.Reports
@Styles.Render("~/Content/BranchReportCss")


@Html.Hidden("PassportReportsArray", Model.PassportReportsArray, new { id = "PassportReportsArray" })
<div id="non-printable">
    <div class="selectreport well">
        <div>
            <div class="left nlabel2" style="min-width: 0px;">Select Report</div>
            @Html.Hidden("selectPrintReport", null, new { id = "PassportcmbReportType", @class = "left", @style = "width:300px; font-size: 13px;" })
        </div>
        <div id="Passportspecificdiv" class="right hidden">
            @Html.TextBox("cmbintervalstart", null, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "PassporttxtFromDatex", @class = "jdpicker left" })
            <div class="left todiv">To</div>
            @Html.TextBox("cmbintervalstop", null, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "PassporttxtToDatex", @class = "jdpicker left" })
            <div class="printbutton left" onclick="PassportReportPrint('', '', '')" id="specificbtn"></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="printinfo Hidden well">
        <div id="infomsg" class="left">Generating Report</div>
        <div id="inforesult" class="left inforesult"></div>
        <div class="clear"></div>
    </div>
</div>
