﻿@model IrisDataManagement.Models.RegisterModel

<div id="regclosediv" class="closebtn closeme">X</div>
    <div id="registerDiv">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="bigfirstletter regheader">Iris Repository Registration</div>
    <div class="infoDiv">
        @Html.TextBoxFor(model => model.FirstName, new { maxval = 30, autocomplete = "off", @class = "Textbox left", id = "txtFirstname", placeholder = "First name" })
        @Html.TextBoxFor(model => model.Surname, new { maxval = 30, autocomplete = "off", @class = "Textbox left", id = "txtLastname", placeholder = "Surname" })
        <div class="clear"></div>
        <div style="width: 280px;" id="firstnameValidation" class="validationMessage left hidden">@Html.ValidationMessageFor(model => model.FirstName)</div>
        <div style="width: 250px;" id="surnameValidation" class="validationMessage left hidden">@Html.ValidationMessageFor(model => model.Surname)</div>
        <div class="clear"></div>
    </div>
    <div class="infoDiv">
        @Html.TextBoxFor(model => model.PhoneNumber, new { maxval = 15, autocomplete = "off", @class = "Textbox", id = "txtPhoneNumber", placeholder = "Phone number" })
        <div style="width: 250px;" id="phoneValidation" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.PhoneNumber)</div>
    </div>
    <div class="infoDiv">
        @Html.TextBoxFor(model => model.EmailAddress, new { maxval = 45, autocomplete = "off", @class = "Textbox left", id = "txtRegEmailx", placeholder = "Email address" })
        <div class="left atiris">@@ irissmart.com</div>
        <div class="clear"></div>
        <div id="emailValidation" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.EmailAddress)</div>
    </div>
    <div class="infoDiv">
        @Html.TextBoxFor(model => model.EmailAddressConfirm, new { maxval = 45, autocomplete = "off", @class = "Textbox left", id = "txtConfirmEmail", placeholder = "Confirm email address" })
        <div class="left atiris">@@ irissmart.com</div>
        <div class="clear"></div>
        <div id="emailConfirmValidation" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.EmailAddressConfirm)</div>
    </div>
    <div class="infoDiv">
        @Html.PasswordFor(model => model.Password, new { maxval = 15, autocomplete = "off", @class = "Textbox left", id = "txtRegPasswordx", placeholder = "Create your password" })
        @Html.PasswordFor(model => model.PasswordConfirm, new { maxval = 15, autocomplete = "off", @class = "Textbox left", id = "txtConfirmPasswordx", placeholder = "Create your password" })
        <div class="clear"></div>
        <div style="width: 280px;" id="passwordValidation" class="validationMessage left hidden">@Html.ValidationMessageFor(model => model.Password)</div>
        <div style="width: 250px;" id="passwordConfirmValidation" class="validationMessage left hidden">@Html.ValidationMessageFor(model => model.PasswordConfirm)</div>
        <div class="clear"></div>
    </div>
    <input type="submit" id="btnRegister" onclick="return validateReg();" class="submitBtn Button shadow slightRounded left" value="Register" />
    <div id="txtErrorMessage" class="errmsg left">@(Model.Error)</div>
    <div id="regloadingdiv" class="loadingdiv loading right Hidden"><div class="lilmodal"></div></div>
    <div class="clear"></div>
</div>

