﻿@model IrisDataManagement.Models.Search
@Styles.Render("~/Content/searchControlCss")
@Scripts.Render("~/bundles/searchControlJs")

<div class="SearchControlDiv relative" id="pnlMain">
    <div class="innerSearch">
        <div>
            @Html.TextBoxFor(model => model.Searchstring, new { maxval = 50, @class = "Input shadow", id = "txtKeyword", placeholder = "Enter Keyword(s) like \"immigration\", \"contract\" or \"december\"" })
            <div class="clear"></div>
            <div class="advancedSearchbtn">
                <div class="advSearchInner rounded">
                    <div id="txtSearchBtn" style="margin-right: 5px" class="left">Narrow Your Search</div>
                    <div id="select1" class="infobox unselected left"></div>
                    <div class="clear"></div>
                </div>
            </div>  
        </div>
    </div> 
    <div class="option Hidden">   
        <div class="option1 advoption">
            <div class="left nlabel">Document Category</div>
            @Html.Hidden("TierOneArray", Model.TierOneArray, new { id = "TierOneArray" })
            @Html.HiddenFor(model => model.TierOne, new { id = "cmbTierOne", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>        
        </div>       
         <div class="option6 advoption Hidden">
            <div class="left nlabel">Staff Name</div>
            @Html.Hidden("StaffArray", Model.StaffArray, new { id = "StaffArray" })
            @Html.HiddenFor(model => model.SelectedStaff, new { id = "cmbStaff", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>                    
        </div>
        <div class="option7 advoption Hidden">
            <div class="left nlabel">Document Section</div>
            @Html.Hidden("IrisSubcats", Model.IrisSubcats, new { id = "IrisSubArray" })
            @Html.HiddenFor(model => model.SelectedIrisSub, new { id = "cmbIrisSub", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>                    
        </div>
        <div class="option8 advoption Hidden">
            <div class="left nlabel">Client</div>
            @Html.Hidden("IrisClientArray", Model.IrisClientArray, new { id = "IrisClientArray" })
            @Html.HiddenFor(model => model.SelectedClient, new { id = "cmbIrisClient", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>                    
        </div>
        <div class="option9 advoption Hidden">
            <div class="left nlabel">Document Type</div>
            @Html.Hidden("IrisSubcats", Model.IrisClientSubArray, new { id = "IrisClientSubArray" })
            @Html.HiddenFor(model => model.SelectedIrisClientSub, new { id = "cmbIrisClientSub", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>
        </div>
        <div class="option3 advoption">
            <div class="left nlabel">Select File Types</div>
            @Html.Hidden("FileTypeArray", Model.FileTypeArray, new { id = "FileTypeArray" })
            @Html.HiddenFor(model => model.FileTypes, new { id = "cmbFileType", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>                    
        </div>
        <div class="option4 advoption">
            <div class="left nlabel">Upload Date</div>
            @Html.TextBoxFor(model => model.UploadDateFrom, new { maxval = 10, type = "text", name = "datepicker", autocomplete = "off", id = "txtDateUploadedFrom", @class = "jdpicker left" })
            <div class="left To">To</div>
            @Html.TextBoxFor(model => model.UploadDateTo, new { maxval = 10, type = "text", name = "datepicker", autocomplete = "off", id = "txtDateUploadedTo", @class = "jdpicker left" })
            <div class="clear"></div>                    
        </div>
        <div class="option5 advoption">
            <div class="left nlabel">Document Date</div>
            @Html.TextBoxFor(model => model.DocDateFrom, new { maxval = 10, type = "text", name = "datepicker", autocomplete = "off", id = "txtDocDateFrom", @class = "jdpicker left" })
            <div class="left To">To</div>
            @Html.TextBoxFor(model => model.DocDateTo, new { maxval = 10, type = "text", name = "datepicker", autocomplete = "off", id = "txtDocDateTo", @class = "jdpicker left" })
            <div class="clear"></div>                    
        </div>        
        @*<div class="option3 advoption">
            <div class="left nlabel">@Model.TierThreeQuestion</div>
            @Html.Hidden("TierThreeArray", Model.TierThreeArray, new { id = "TierThreeArray" })
            @Html.HiddenFor(model => model.TierThree, new { id = "cmbTierThree", @class = "left", @style = "width:368px;" })
            <div class="clear"></div>        
        </div>*@
        <div>
        
        </div>
    </div>
    @* <div class="option4 advoption">
        <div class="left nlabel">@Model.TierFourQuestion</div>
        @Html.Hidden("TierFourArray", Model.TierFourArray, new { id = "TierFourArray" })
        @Html.HiddenFor(model => model.TierFour, new { id = "cmbTierFour", @class = "left", @style = "width:368px;" })
        <div class="clear"></div>        
    </div>*@
    <div class="searchboxx">
        <div onclick="setvals()" id="btnSearch" style="height: 33px;" class="SearchButton slightRounded">Search</div>               
    </div>
</div>

