﻿@model IrisDataManagement.Models.MyDocuments
@Scripts.Render("~/bundles/mydocspartials")

<link rel="stylesheet" href="/fileuploader/css/bootstrap.min.css">
<link rel="stylesheet" href="/fileuploader/css/jquery.fileupload.css">

<div class="createDocInner">
    <div class="miniheader left">Upload to:</div>
    <div class="clear"></div>
    <div class="well">
        <div id="selectUpLoc">
            <div class="left">
                <div class="spaced">
                    <div class="left">
                        @Html.RadioButtonFor(model => model.IsIrisUpload, "true", new { id = "IsIrisUpload" }) 
                    </div>
                    <div class="chkmsg left">Iris Repository</div>
                    <div class="clear"></div>
                </div>
                 <div class="spaced">
                    <div class="left">
                        @Html.RadioButtonFor(model => model.IsPublicUpload, "false", new { id = "IsPublicUpload" })
                    </div>
                    <div class="chkmsg left">My Public Folder (visible to all)</div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="publicUpload Hidden">
        @Html.HiddenFor(m => m.SelectedFolder, new { id = "SelectedFolder" })
        <div class="miniheader left">Select which folder to upload to:</div>
        <div id="FolderBtn" class="newFolderbtn Button shadow Hidden right"><i class="glyphicon glyphicon-plus"></i> New Folder</div>
        <div class="clear"></div>
        <div id="folderTreeDiv" class="questionswell well">
            <div class="modal"></div>
            @Html.Partial("_FolderTree", Model)
        </div>
    </div>
    <div class="irisUpload Hidden">
        <div id="irisUploadDiv" class="Hidden">
            @Html.HiddenFor(m => m.IrisSelectedFolder, new { id = "IrisSelectedFolder" })
            <div class="miniheader left">Select File Category:</div>
            <div class="clear"></div>
            <div id="IrisFolderTreeDiv" class="questionswell well">
                <div class="modal"></div>
                @Html.Partial("_IrisFolderTree", Model)
            </div>
        </div>
        <div class="clearme">Clear</div>
        <div class="clearfix"></div>
        <div class="questionswell well Hidden" id="docInfoDiv">        
            <div class="optionx advoption">
                <div class="left nlabel2">Date of Document</div>
                @Html.TextBoxFor(model => model.DocDate, new { maxval = 10, type = "text", name = "datepicker", autocomplete = "off", id = "txtDocDate", @class = "jdpicker left" })
                <div class="clear"></div>
            </div>

            <div class="optionxx advoption">
                <div class="left nlabel2">Keywords</div>
                @Html.TextBoxFor(model => model.Keywords, new { autocomplete = "off", id = "txtKeywords", @class = "otherTextbox left", @maxlength = "255" })                
                <div class="clear"></div>
                <div class="infobox">(Seperate each keyword with a comma)</div>
            </div>  
            <div class="optionxx advoption">
                <div class="left nlabel2">Physical Location</div>
                @Html.TextBoxFor(model => model.PhysicalLocation, new { autocomplete = "off", id = "txtPhysLocation", placeholder="e.g. INEC Folder 4, page 5", @class = "otherTextbox left", @maxlength = "255" })                
                <div class="clear"></div>
            </div> 
            <div class="optionxxx advoption">
                <div class="left nlabel2">Privilege Level</div>
                 @Html.Hidden("LevelsArray", Model.Search.LevelsArray, new { id = "LevelArray" })
                @Html.HiddenFor(model => model.Level, new { id = "cmbLevel", @class = "left", @style = "width:50px;" })           
                <div class="clear"></div>
            </div>  
            <div class="optionxxx advoption2">
                <div class="left nlabel2">Grant Privilege To Staff</div>
                @Html.Hidden("StaffArray", Model.Search.StaffIdAllArray, new { id = "StaffArray" })
                @Html.HiddenFor(model => model.SelectedStaff, new { id = "cmbStaffAllowed", @class = "left", @style = "width:320px; margin-top: -9px;" })           
                <div class="clear"></div>
            </div>
            <div class="optionxxx advoption3">
                <div class="left nlabel2">Grant Privilege To Dept</div>
                @Html.Hidden("DeptArray", Model.Search.DepartmentArray, new { id = "DeptArray" })
                @Html.HiddenFor(model => model.SelectedDept, new { id = "cmbDocDept", @class = "left", @style = "width:320px; margin-top: -9px;" })
                <div class="clear"></div>
            </div>  
        </div>
    </div>

    <div class="uploadwell  Hidden">
        <div>
            @Html.HiddenFor(model => model.UploadedFile, new { id = "UploadedFile" })
            <div class="grpHeaderTxt right">(PDF, JPEG, Word, Excel, Power-point and Zip files only)</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="well">
        <div class="container" style="margin-right: 0px">
        <form id="fileupload" action="/api/upload/test" method="POST" enctype="multipart/form-data">
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Upload All</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel All</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" class="toggle">
                    <span class="fileupload-process"></span>
                </div>
                <div class="col-lg-5 fileupload-progress fade">
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        </form>
</div>
        </div>

    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Upload</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <script src="/fileuploader/js/vendor/jquery.ui.widget.js"></script>
    <script src="/fileuploader/js/tmpl.min.js"></script>
    <script src="/fileuploader/js/load-image.min.js"></script>
    <script src="/fileuploader/js/canvas-to-blob.min.js"></script>
    <script src="/fileuploader/js/bootstrap.min.js"></script>
    <script src="/fileuploader/js/jquery.iframe-transport.js"></script>
    <script src="/fileuploader/js/jquery.fileupload.js"></script>
    <script src="/fileuploader/js/jquery.fileupload-process.js"></script>
    <script src="/fileuploader/js/jquery.fileupload-image.js"></script>
    <script src="/fileuploader/js/jquery.fileupload-audio.js"></script>
    <script src="/fileuploader/js/jquery.fileupload-video.js"></script>
    <script src="/fileuploader/js/jquery.fileupload-validate.js"></script>
    <script src="/fileuploader/js/jquery.fileupload-ui.js"></script>
    <script src="/fileuploader/js/main.js"></script>
    </div>
</div>
<div class="PopupWindow" id="FolderNameDiv">
    <div class="closebtn closeme">X</div>
    <div class="labelbox left">Enter the Folder Name:</div>
    @Html.TextBoxFor(m => m.NewFolderName, new { @class = "otherTextbox left", id = "txtNewFolderName" }) 
    <div id="createBtn" class="Button left shadow">Create</div>
    <div class="clear"></div>
    <div id="foldererr" class="errormsg">Folder name cannot be empty</div>
</div>