﻿@model IrisCommon.Entities.Person

<div class="closebtn closeme">X</div>
<div class="staffpic2 left">
    @if (string.IsNullOrEmpty(Model.ProfilePicture))
    {
        <img alt="" id="imgPicture" src="/images/no_imgs2.png" />
    }
    else
    {
        <img id="imgPicture" alt="" src="data:image/png;base64,@Model.ProfilePicture" />
    }  
</div>
<div class="left">
    <div class="infoline2">
        <div class="labelleft2">Name:</div>
        <div class="labelright2"> @Model.FirstNameUpper @Model.SurnameUpper</div>
    </div>
    <div class="infoline2">
        <div class="labelleft2">Gender:</div>
        <div class="labelright2"> @(Model.Gender == "F" ? "Female" : Model.Gender == "M" ? "Male" : "")</div>
    </div>
    <div class="infoline2">
        <div class="labelleft2">Email:</div>
        <div class="labelright2"> @Model.EmailAddress</div>
    </div>
    <div class="infoline2">
        <div class="labelleft2">Phone Number:</div>
        <div class="labelright2"> @Model.PhoneNumber</div>
    </div>
    <div class="infoline2">
        <div class="labelleft2">Department:</div>
        <div class="labelright2"> @Model.DepartmentName</div>
    </div>
    <div class="infoline2">
        <div class="labelleft2">Position:</div>
        <div class="labelright2"> @Model.PositionName</div>
    </div>
    <div class="infoline2">
        <div class="labelleft2">Clearance Level:</div>
        <div class="labelright2"> @Model.ClearanceLevelWord</div>
    </div>
</div>
<div class="clear"></div>
