﻿@model IrisDataManagement.Models.Search

<div id="viewimagediv">
    @if (Model.ViewType == "doc" || Model.ViewType == "docx" || Model.ViewType == "pdf")
    {
        <div>
            <object data="@Model.ViewDoc" type="application/pdf" width="850" height="590">
               <a href="@Model.ViewDoc">Can't see anything? Click here.</a>
            </object>
        </div>
    }
    
    @if (Model.ViewType == "txt")
    {
        <div>
            <object data="@Model.ViewDoc" width="850" height="590">
                <a href="@Model.ViewDoc">Can't see anything? Click here.</a>
            </object>
        </div>
    }

    @if (Model.ViewType == "jpg" || Model.ViewType == "jpeg" || Model.ViewType == "png" || Model.ViewType == "bmp" || Model.ViewType == "gif")
    {
        <img id="viewdocimg" alt="" src="data:image;base64,@System.Convert.ToBase64String(Model.DocTempImage)" />
    }
    
    @if (Model.ViewType == "xls" || Model.ViewType == "xlsx" || Model.ViewType == "csv")
    {
        <div class="noticeinfo bigfirstletter">We can acquire a plugin which we can use to show <span style="color:green">Excel</span> documents.</div>
        <div class="noticeinfo" style="margin-top:-20px; font-size: 15px">Its like $600 though...</div>
    }
</div>