﻿@model IrisDataManagement.Models.BigModel
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = "Error";
}
<div class="bigfirstletter infoText">
    <div class="errorDiv shadow">@Html.Raw(Model.ErrorMsg)</div>
</div>
