﻿@model IrisDataManagement.Models.LoginModel

@using (Html.BeginForm("Login", "Account", new { returnUrl = Request.Path }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)  
    @Html.Hidden("returnUrl", Model.ReturnUrl)
    <div>
        <div class="loginheader">Login</div>
        <div class="loginsquare shadow">
            <div class="loginLine">
                <div class="left txtdiv shadow">
                    @Html.TextBoxFor(model => model.EmailAddress, new { maxval = 45, @class = "loginbox", id = "txtRegEmail", placeholder = "Your Iris Email" })
                </div>
                <div title="Not registered yet?" class="newregistration left"></div>
                <div class="clear"></div>
                <div style="margin-left: 25px;" id="emailvalidation" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.EmailAddress)</div>
            </div>

            <div class="loginLine">
                <div class="left txtdiv shadow">
                    @Html.PasswordFor(model => model.Password, new { maxval = 15, @class = "loginbox", id = "txtRegPassword", placeholder = "Enter Password" }) 
                </div>
                <div title="Forgot your password?" class="forgottenpw left"><a href="/ForgottenPassword"></a></div>
                <div class="clear"></div>
            </div>
            <div style="margin-left: 25px;" id="passwordvalidation" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Password)</div>
            <input class="GenButton slightRounded shadow right" id="btnLogin" type="submit" style="margin: 10px 66px 0px 0px;" value = "Sign In" />
            <div class="clear"></div>
        </div>
    </div>
}  

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
