﻿@model IrisDataManagement.Models.RegisterModel

@using (Html.BeginForm("RegisterControl", "Account", new { returnUrl = Request.Path }))
{  
    <div id="registerDiv">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="infoDiv">
        @Html.TextBoxFor(model => model.FirstName, new { maxval = 30, autocomplete = "off", @class = "Textbox left", id = "txtFirstname", placeholder = "First name" })
        @Html.TextBoxFor(model => model.Surname, new { maxval = 30, autocomplete = "off", @class = "Textbox left", id = "txtLastname", placeholder = "Surname" })
    <div class="clear"></div>
    </div>
        <div class="infoDiv">
        @Html.TextBoxFor(model => model.PhoneNumber, new { maxval = 15, autocomplete = "off", @class = "Textbox", id = "txtPhoneNumber", placeholder = "Phone number" })
    </div>
    <div class="infoDiv">
        @Html.TextBoxFor(model => model.EmailAddress, new { maxval = 45, autocomplete = "off", @class = "Textbox left", id = "txtRegEmailx", placeholder = "Email address" })
    </div>
    <div class="infoDiv">
        @Html.TextBoxFor(model => model.EmailAddressConfirm, new { maxval = 45, autocomplete = "off", @class = "Textbox left", id = "txtConfirmEmail", placeholder = "Confirm email address" })
    </div>
    <div class="infoDiv">
        @Html.PasswordFor(model => model.Password, new { maxval = 15, autocomplete = "off", @class = "Textbox left", id = "txtRegPasswordx", placeholder = "Create your password" })
        @Html.PasswordFor(model => model.PasswordConfirm, new { maxval = 15, autocomplete = "off", @class = "Textbox left", id = "txtConfirmPasswordx", placeholder = "Create your password" })
        <div class="clear"></div>
    </div>
    <input type="submit" id="btnRegister" onclick="return validateReg();" class="submitBtn Button slightRounded left" value="Register Now" />
    <div id="txtErrorMessage" class="errorMessage mainerrormsg left">@(Model.Error)</div>
    <div class="clear"></div>
    </div>
}

