﻿
.headerDiv
{
    text-align: center;
    background-color: #ccc;
    padding: 10px 0px;
    font-size: 18px;
}

.headerDiv2
{
    text-align: center;
    font-size: 21px;
    padding: 20px 0px;
}

.headerDiv3
{
    text-align: center;
    font-size: 24px;
    margin-top: 40%;
    font-weight: bold;
}

.headerDiv4
{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.timestamp
{
    position: absolute;
    bottom: 20px;
    left: 25px;
    width: 94%;
}

.timestamp2
{
    position: absolute;
    bottom: -55px;
    left: 25px;
    width: 94%;
    font-size: 11px;
}

.normalpage
{

}

.mainheader
{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 7px 0px;
    font-size: 18px;
}

.header2
{
    margin: 5px 0px 10px 0px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.headingx
{
    text-align: center;
    font-weight: bold;
    border:1px solid #999;
    border-right:none;
    padding: 3px;
}

.heading1
{
    width: 15.1%;
}

.heading2
{
    width: 7.2%;
}

.heading3
{
    width: 36.1%;
}

.heading4
{
    width: 21.5%;
}

.heading5 {
    width: 15%;
    border-right: 1px solid #ccc;  
}

.divborder
{
    border: 1px solid #999;
    border-top: 3px solid #333;
}

.bkx 
{
    border: 1px solid #999;
    border-right: none;
    border-top: none;
    padding: 3px 0px 3px 6px;
    min-height: 17px;
}

.bktype
{
    font-weight: bold;
    width: 15%;
    border-bottom: none;
    border-left: 1px solid transparent;
}

.bkserial
{
    padding: 3px 6px 3px 0px;
    width: 7.2%;
    text-align: right;
}

.bkbranch
{
    width: 36.1%;
}

.bkCount
{
    width: 21.5%;
    text-align: center;
}

.bkTotal
{
    width: 15%;
    padding: 3px 6px 3px 0px;
    font-weight: bold;
    border-right: 1px solid transparent;
    border-left: 1px solid #999;
    text-align: right;
    font-size: 17px;
}

.noborder
{
    border-color: transparent;
    min-height: 20px;
    border-bottom: none;
}

.bkhrclass
{

}

.page {
    min-height: 29.7cm;
    margin: 0.5cm auto;
    border: 1px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.subpage {
    padding: 0.5cm;
    border: 1px #ccc solid;
    height: 250mm;
    position: relative;
}

.subpage2 {
    padding: 0.5cm;
    height: 250mm;
    position: relative;
    font-size: 14px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        break-after: always;
        page-break-inside: avoid;
        page-break-after: always;
    }

     #content, header, footer{
        display: none;
    }

    #printable{
        display: block;
        margin-top: -100px;
    }

}