﻿#calendar 
{
	width: 900px;
	margin: 40px auto;
}.hrclass{    margin: 10px 0px 20px 0px;   }.eventpopupheader{    font-size: 18px;     margin: -20px 0px 20px 0px;      text-align: center;}.eventline{    margin: 0px 0px 20px 0px;   }.infobox{    margin: 8px 15px 0px 0px;    width: 90px;    text-align: right;}.eventTextbox{    width: 280px;
    margin-right: 20px;
    padding-left: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    height: 24px;
}.eventTextarea{    width: 280px;
    margin-right: 20px;
    padding-left: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    height: 72px;    resize: none;}.postedby{    font-size: 10px;    color: #369;    margin: 20px 0px -15px -10px;    }.createbtn{    width: 60px;    margin: 0px 19px -10px 0px;   }.createbtn:hover{    opacity: 0.7;   }.validationMessage{    margin-left: 107px;     color:  red;    font-size: 11px;}div.calendar-trash{
float: left;
padding-right: 8px;
margin-right:5px;
padding-left:8px;
padding-top: 3px;
cursor: pointer;
}

.to-trash{
  background-color:#EAEAEA;
    -webkit-border-radius: 5em;
    border-radius: 5em;
}

.closevent
{
    position: absolute;
    top: 1px;
    right: 0px;
    background-color: #d2322d;
    color: White;
    font-size: 6px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    cursor: pointer;   
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
}

.fc-transparent,
.fc-agenda .fc-transparent .fc-event-time,
.fc-transparent a {         
	padding-left: 1px;                                               
	border-color: transparent;
	background-color: transparent;
	color: #fff; 
}  

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  padding: 10px;
}