﻿.Sorter
{
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}

.sortInfo
{
    color: #333333;
    font-size: 14px;
    padding: 20px 0px 10px 20px;
    margin: 0px auto;
    width: 830px;
}

.nojobsfound
{
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
    color: #369;
}

.repeaterHeader1
{
    width: 35%;
}

.repeaterHeader2
{
    width: 12%;
}

.repeaterHeader3
{
    width: 10%;
}

.repeaterHeader4
{
    width: 30%;
}

.limited
{
    
}

.limited div[class^="repeaterHeader"]
{
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 11px;
    font-variant: small-caps;
    color: #8D2136;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #ccc;
}

.repeater
{
    width: 100%;
    margin-top: -1px;
    text-align: left;
}

.repeater div[class^="doc"]
{
    min-height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.repeaterx:hover
{
    background-color: #369 !important;
    color: White;
}

.selectedSort
{
    margin: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #336699;   
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.UnselectedSort
{
    margin: 0px 15px;
    text-decoration: none;
    color: #B2B2B2; 
    border: none;
    background-color: transparent; 
    cursor:pointer; 
    font-size: 13px;
}

.UnselectedSort:hover
{
    text-decoration:underline;
    color: #336699; 
}

.docHeader
{
    width: 33%;
    padding-left: 20px;
    text-align: left !important;
}

.docType
{
    width: 10%;
}

.docDate
{
    width:12%;
}

.docLocation
{
    width: 28%;
    text-align: left !important;
    padding-left: 20px;
}

.actions
{
    position: relative;   
}

.disabled
{
    opacity: 0.8;    
}

.Locked
{
    background: url(/images/padlocksmall3.png);
    position: absolute;
    left: 55px;
    top: 6px;  
    width: 20px;
    height: 20px; 
}

.Unlock
{
    background: url(/images/padlock3.png);
    position: absolute;
    left: 85px;
    top: 5px;  
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.Unlockx
{
    background: url(/images/padlock3.png);
    position: absolute;
    left: 85px;
    top: 5px;  
    width: 21px;
    height: 21px;
    opacity: 0.2;
}

.ViewFile
{
    background: url(/images/eyeicon.png);
    position: absolute;
    left: 20px;
    top: 2px;   
    width: 25px;
    height: 25px; 
    cursor: pointer;
}

.DownloadFile
{
    background: url(/images/downloadicon2.png);
    position: absolute;
    left: 50px;
    top: 0px;   
    width: 25px;
    height: 25px;
    cursor: pointer;
}