﻿#ViewPDFDiv
{
    min-width: 200px;
    min-height: 200px;
}

#DocsDiv
{
    min-height: 200px;
}

#prevClose
{
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
}

.noticeinfo
{
    font-size: 20px;
    line-height: 60px;
    height:60px;
    text-align: center;
}

#viewimagediv
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;    
}

#viewimagediv img
{
    border: 1px solid #ccc;
}

#pagingDiv
{
    position: absolute;
    bottom: -40px;
    width: 100%;
    font-size: 12px;
}

#DocsInnerDiv
{
    height: 100%;    
}

.pagindHR
{
    margin: 35px 0px 15px 0px;
    background-color: #ccc;
    border: none;
    height: 1px;
}

.pagingLabel
{
    margin:0px 10px 0px 0px;
    line-height: 30px;
}

.paging
{
    font-size: 12px; 
    margin-top: 10px;
    text-align: center;  
}

.centeredMsg
{
    text-align: center;
    margin: 0px 20px 0px 20px;
}

#paging
{
    text-align: center;
}

.next
{
    font-size:17px;
    color: #336699;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
}

.linkButtons
{
     border: 1px solid #ccc;
     padding: 5px 8px;
     background-color: white;
     text-decoration: none;
     font-size:12px;
     margin: 0px 5px 0px 5px;
}

.nextns
{
    color: white;
    background-color: #999;
}

.nextn
{
    cursor: pointer;
    color: #369;
}

.nextn:hover, .next:hover
{
    opacity: 0.8;
}

.firstperc
{
    width: 16%;
    padding-left: 30px;
}

.secondperc
{
    width: 65%;
}

.thirdperc
{
    width: 12%;
    text-align: right;
    padding-right: 30px;
}