﻿/** Application Body **/

* { outline: none; }

html {    
    color: #333;
    font-size: .85em;
    font-family: Lucida Bright;
    margin: 0;
    padding: 0;
    min-height:100%;
}

#wrapper {padding: 130px 0px 40px 0px; margin: 0; position:absolute; top:0; bottom:0; left:0; right:0;}
#content {min-height:100%; }

header 
{
    margin-top:-130px; 
    height:132px; 
    position: relative; 
}

footer 
{
    margin-bottom:-30px; 
    background: url(/images/bg.jpg); 
    border-top: 1px solid #ccc;
    height: 30px; 
}

#content:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
}

#content:after {
    box-shadow: 15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    position: absolute;
    right: -15px;
    width: 15px;
    top: 0px;
}

#content {
    background: none repeat scroll 0 0 #f4f4f4;
    position: relative;
    width: 960px;
    margin: auto;
}

#content2 {
    background: none repeat scroll 0 0 #f4f4f4;
    position: relative;
    height: 100%;
}

.content-wrapper
{
    padding: 0px 0px 10px 0px; 
    width: 960px;
    margin : 0px auto;
    position: relative;
}

/** Home page **/
.homewrapper
{
    margin: 0px 50px 0px 50px;
    padding-top: 30px;
}

.welcometext
{
    font-size: 24px;
    color: #8D2136;
    margin-bottom: 20px;
}

.hometext
{
    margin-bottom: 25px;
}

.innerhomediv
{
    margin-top: 10px;    
}

.divbg
{
    margin-bottom: 30px;
}

.searchbg
{
    position: relative;
    padding-left: 40px;
}

.searchbg img
{
    position: absolute;
    top: -18px;
    left: -20px;     
}

.padlockbg
{
    position: relative;
    padding-right: 180px;
    padding-left: 32px;
    border-left: 2px solid #ccc;
}

.padlockbg img
{
    position: absolute;
    right: 86px;
    top: 15px;    
}

.uploadbg
{
    position: relative;
    padding-right: 180px;
    padding-left: 32px;
    border-left: 2px solid #ccc;
}

.uploadbg img
{
    position: absolute;
    right: 90px;
    top: 15px;    
}

.browsebg
{
    position: relative;
    padding-right: 180px;
    padding-left: 32px;
    border-left: 2px solid #ccc;
}

.browsebg img
{
    position: absolute;
    right: 88px;
    top: 15px;    
}

/** Used on every page **/

.jdpicker
{
    width: 102px; 
    padding-left: 5px;
    margin-top: -3px; 
    background: white url(/images/Calendar.jpg) no-repeat 81px 4px;
    height: 26px;
    border: 1px solid #ccc;
}

.infoText
{
	font-size: 20px;
	line-height: 40px;
	padding: 80px 30px;
	text-align: center;
    color: #369;
    text-transform: none;
    font-weight: 200;
}

.validationMessage
{
    display: none;
    padding-top: 5px;    
}

.validationMessage2
{
    display: none;
    padding-top: 5px; 
    color: Red;
    font-size: 12px;   
}

.bigfirstletter:first-letter
{
    font-size: 30px;
    color: #8D2136;
}

.medfirstletter:first-letter
{
    font-size: 20px;
    color: #8D2136;
}

.Header
{
    padding: 20px 0px 10px 30px;  
    font-size: 20px;  
}

.Header:first-letter
{
    font-size: 30px;
    color: #8D2136;
}

.menulink
{
    color: #333;    
}

.header
{
    background: url(/images/bg.jpg);
}

.logo
{
    font-size: 30px;
    float: left;
    margin: 5px 0px -5px 20px;
    line-height: 80px;
    
}

.logosmall
{
    font-size: 26px;
    float: left;
    line-height: 52px;
}

.refreshpage
{
    width: 30px;
    height: 30px;
    background-image: url(/images/refresh.png);
    margin: 13px 35px 0px 0px;
    cursor: pointer;
}

.startSlide
{
    width: 33px;
    height: 33px;
    background-image: url(/images/bigplaybtn2.png);
    margin: 12px 20px 0px 0px;
    cursor: pointer;
}

.stopSlide
{
    background-image: url(/images/bigplaybtn3.png);
}

.hoverfade:hover
{
    opacity: 0.7;
}

.irislogo
{
    background: url(/images/irislogo.png);  
    width: 120px;
    height: 80px; 
    margin: 5px 0px -5px 20px;
    float: left;
    cursor: pointer;
}

.irislogosmall
{
    background: url(/images/irislogosmall.png);  
    width: 60px;
    height: 40px; 
    margin: 5px 10px 0px 48px;
    cursor: pointer;
}

#txtLoginTextfo
{
    color: #8D2136;
    margin-top: 2px;
    font-size: 12px;
}

.menubar
{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.menux
{
    color: #333;
    width: 960px;
    margin: 0px auto;
}

.menuitemx
{
    width: 100px;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #369;
}

.menuitemx:hover
{
    background-color: #f4f4f4;
    color: #8D2136;
}

#divDisplayLogin, #divLoggedIn
{
    right: 0;
    top: 23px;
    min-width: 107px;
    position: absolute;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

.PopupWindow
{
    padding: 40px 25px 25px 25px;
    overflow: auto; 
    background-color: White; 
    font-size: 13px;
    display:none;  
    position:relative;
    -khtml-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;  
    overflow-x: hidden;
    max-height: 600px;
}

.closeButton
{
    background-color: #f4f4f4;
    text-align:center;
    width: 60px;
    border: 1px solid #ccc;
    color:#8D2136;
    cursor: pointer;
    line-height: 22px;
    height: 22px;
    margin: 10px auto 0px auto;
    padding: 0px 15px;
    font-size: 12px;
}

.closebtn
{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #d2322d;
    color: White;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;   
    border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
	-khtml-border-radius:  4px 4px 4px 4px; 
}

.popupinfoinner
{
    min-width: 275px; 
    text-align: center;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    color: #369;    
}

#headertxt
{
    margin: 5px 0px 15px 0px;
}

.Button
{
    background-color: #8D2136;
    text-align:center;
    color:White;
    border: none;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    padding: 0px 25px;
    font-size: 14px;
}

.GenButtonx
{
    background-color: transparent;
    font-family: arial;
    text-align:center;
    color: #e4e4e4;
    margin: 5px 0px 0px 0px;
    border: none;
    cursor: pointer;
    line-height: 20px;
    font-size: 13px !important;
    outline: 0;
    outline: none;
}

.GenButtonx:hover, .closebtn:hover, .closeButton:hover
{
    opacity: 0.7;
}

.setupbtn
{
    width: 16px;
    height: 21px;
    background: url(/images/setup2.png) no-repeat 0px 1px;
    margin-left: 7px;
    border: none;
    margin-top: 1px;
    cursor: pointer;
}

.signoutBtn
{
    width:  107px;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    font-family: Lucida Bright;
}

.signoutBtn:hover
{
    color: White;
    opacity: 1;
}

#menu li.menuitem:hover
{
    opacity: 0.9;
    background-color: #369;
}

#menu2 li.menuitem:hover
{
    opacity: 0.9;
}

#menu, #menu2
{
    list-style-type: none;
    position: relative;
}

#menu2
{
    padding: 0px;
    margin: -1px 0px 0px 2px;    
}

#menu li.menuitem, #menu2 li.menuitem
{
    height: 21px;
    width: 30px;
    text-align: center;
    color: #f4f4f4;
    line-height: 21px;
    float: left;
    cursor: pointer;    
}

.ssmenu
{
    height: 25px;
    color: #f4f4f4;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.ssmenu a
{
    height: 25px;
    color: #f4f4f4;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.submenu2 .ssmenu a, .ssmenu input
{
    color: #369;
}

.submenu2 .ssmenu a:hover, .ssmenu input:hover
{
    color: white;
}

.subhr
{
    width: 180px;
    margin: 1px 10px 0px 0px;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #265070;
    padding: 0;
}

.end
{
    height: 4px;
}

#menu li.menuitem a
{
    text-decoration: none !important;
}

.submenu
{
    background-color: #369;
    width: 180px;
    display: none;
    margin: 7px 0px 0px -75px;
    z-index: 999;
    font-size: 12px;
    position:absolute;
}

.submenu2
{
    background-color: white;
    display: none;
    z-index: 999;
    position: relative;
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.ssmenu:hover
{
    background-color: #407EBC;
    color: #f4f4f4;
}

#menu2 .ssmenu:hover
{
    background-color: #407EBC;
}

.innersub
{
    margin-left: -180px;
    margin-top: -25px;
    background-color: #305F8E;
}

.modal {
    display:    none;
    position:   absolute;
    min-height: 150px;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

.lilmodal {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

.loading  {
    overflow: hidden;   
    position: relative;
}

.loading .modal, .loading .lilmodal {
    display: block;
}

.loadingdiv
{
    height: 35px;
    width: 35px;
    margin: 5px 0px 0px 0px;
    bottom: -20px;
    right: -20px;
}
/** General **/

.left
{
    float: left;  
}

.right
{
    float: right;  
}

.centered
{
    margin: 0px auto;    
}

.clear
{
    clear: both;   
}

.relative
{
    position: relative;   
}

.absolute
{
    position: absolute;   
}

.Hidden
{
    display: none;    
}

.errormsg
{
    color: Red;
    font-size: 11px;
    margin: 5px 0px 0px 0px;   
    display: none; 
}

.hrclass
{
    height: 1px;
    border: none;
    background-color: #ccc;  
    margin: 0px 0px;  
}

.slightRounded
{
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
}

.invisible
{
    visibility: hidden;    
}

.rounded
{
    border-radius: 8px 8px 8px 8px; 
    -moz-border-radius: 8px 8px 8px 8px; 
    -webkit-border-radius: 8px 8px 8px 8px; 
	-khtml-border-radius:  8px 8px 8px 8px; 
}

.shadow
{ 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}

.shadow-noright
{
    -webkit-box-shadow: -0px 8px 6px -3px rgba(0,0,0,0.3);
       -moz-box-shadow: -0px 8px 6px -3px rgba(0,0,0,0.3);
            box-shadow: -0px 8px 6px -3px rgba(0,0,0,0.3);
}

.clickable
{
    color: #369;
    cursor: pointer; 
}

.clickable:hover
{
    text-decoration: underline;
}

.otherTextbox2
{
    width: 280px;
    border: 1px solid #ccc;
    height: 26px;
    padding-left: 5px;
    margin: -0px 10px 0px 0px;
}

.footernote
{
    text-align: center;
    margin: auto;
    width: 960px;
    color: #8D2136;
    font-size: 11px;
    padding: 9px 30px 0px 0px;
}

#PopupInfo
{
    padding: 25px 20px 15px 20px;
}

.errorDiv
{
    border: 1px solid #ccc;
    background-color: white;
    padding: 30px 20px;
}