﻿.GenButton
{
    background-color: #8D2136;
    text-align:center;
    color:White;
    border: none;
    cursor: pointer;
    line-height: 28px;
    height: 34px;
    padding: 0px 25px;
    font-size: 14px;
}

.cancel
{
    background-color: #ccc;
    color: Red;    
}

.GenButton:hover, .forgottenpw:hover, .newregistration:hover
{
    opacity: 0.8;       
}

.loginLine
{
    padding: 10px 20px 0px 0px;
}

.txtdiv
{
    border: 1px solid #f9f9f9;
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
	margin: 10px 20px;
}

.loginbox
{
    width: 350px;
    height: 40px;
    line-height: 25px;
    font-size: 16px;
    border: none;
    padding: 0px 10px;
}

.loginsquare
{
    margin:  10px auto 50px auto;
    width: 460px;
    padding: 20px 0px 20px 30px;
    background-color: #f9f9f9;
}

.validationMessage
{
    color: Red;
    font-size: 12px;   
}

.forgottenpw
{
    width: 20px;
    height: 20px;
    margin-top: 22px;
    cursor: pointer;
    background: url(/images/qmark.png);
}

.newregistration
{
    width: 20px;
    height: 20px;
    margin-top: 22px;
    cursor: pointer;
    background: url(/images/plusicon.png) 0px 0px;
}

.loginheader
{
    margin:  0px auto 0px auto;
    font-variant: small-caps;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 100px;
    width: 500px;
}

.regheader
{
    font-size: 21px;
    margin: -20px 0px 17px 0px;
}

#bluff4
{
    padding-left: 5px; 
}

#txtConfirmPasswordx, #txtRegPasswordx
{
    padding-left: 5px; 
}

.Textbox
{
    width: 250px;
    border: 1px solid #ccc;
    height: 26px;
    padding-left: 5px;
    margin: 0px 0px 0px 0px;
}

.infoDiv
{
    margin: 0px 0px 10px 0px;
}

#txtFirstname, #bluff3,  #txtRegPasswordx
{
    margin-right: 20px;
}

.atiris
{
    margin-left: 5px;
    color: #666;
    line-height: 28px;
    font-size: 15px;
}

#btnRegister
{
    margin-top: 20px;    
}
