﻿html
{
    font-family: Lucida Bright !important;
}

.myDocsHeader
{
    padding: 20px 0px 10px 40px;  
    font-size: 20px;  
}

.accMainDiv
{
    padding: 10px 30px 30px 30px;
    visibility: hidden;
}

.leftSide
{
    width: 143px;
    position: relative;
    z-index: 5;
}

.rightSide
{
    padding: 18px;
    width: 710px;
    margin-left: -3px;
    position: relative;
    z-index: 3;
    border-left: 1px solid #ccc;
    background-color: #f9f9f9;
    min-height: 412px;
    border-top: 1px solid #e2e2e2;
}

.menuLeft
{
    background-color: #f9f9f9;
    color: #8D2136;
    font-size : 14px;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 141px;
}

.menuLeft div
{
    height: 45px;
    line-height: 45px;
    padding-left: 15px;  
    border-top: 1px solid #e2e2e2;     
    border-left: 1px solid #e2e2e2;     
}

.balancer
{
    width:10px;
    height: 1px;
    background-color: #e2e2e2;
    position: absolute;   
    right: -7px;
    top:0px;
}

.inActive
{  
    background-color: #f4f4f4;
    cursor: pointer;
    border-right: 1px solid #ccc;
    color: #999;
}

.noSelect
{
    display: none !important;
}

.isSelected
{
    min-height: 300px;
}

.active
{    
    font-weight: bold;    
    cursor: pointer;
}

.Deletebtn
{
    font-size:14px; 
    width: 100px; 
    height: 26px; 
    line-height: 26px; 
    text-decoration: none;
}

.nojobsfound
{
    margin-top: 150px !important;
}

.introinfo
{
    font-size: 13px;
    margin: 10px 0px 20px 0px;   
}

.hint
{
    font-size: 12px;
    margin-bottom: 30px;
}

.hint div
{
    text-decoration: underline;   
}

.hint ul
{
    padding-left: 30px;   
}

.hint li
{
    margin: 0px 0px 5px 0px;
}

.grpHeaderTxt
{
    font-size: 12px;
    margin: 0px 5px 5px 0px;
}

.advoption
{
    padding: 18px 0px 0px 0px;
}

.advoption2
{
    padding: 18px 0px 15px 0px;
}

.nlabel
{
    color: #333;
    margin-right: 10px;
    margin-top: -7px;
    width: 250px;
    text-align: right;
    line-height: 30px;
}

.nlabel2
{
    color: #333;
    margin-right: 10px;
    margin-top: -7px;
    min-width: 150px;
    text-align: right;
    line-height: 30px;
}

.nlabel3
{
    color: #333;
    margin: -7px 10px 15px 0px;
    width: 125px;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
}

.questionswell
{
    padding: 10px !important;    
}

.uploadwell
{
    margin-top: 25px;   
}

.ui-datepicker
{
    font-size: 11px;    
}

.otherTextbox
{
    width: 320px;
    border: 1px solid #ccc;
    height: 26px;
    padding-left: 5px;
    margin: -5px 0px 0px 0px;
}

.infobox
{
    margin: 4px 0px 0px 160px;
    font-size: 11px;
    color: #8D2136;
}

.miniheader
{
    margin: 0px 10px 5px 0px;
    font-size: 13px;   
}

.clearme
{
    text-align: right;
    color:  #369;
    cursor:  pointer;
    text-decoration: underline;
    width: auto;
    float: right;
    margin: 0px 10px 0px 0px;
    font-size: 11px;
}

.clearme:hover
{
    opacity: 0.7;
}

#selectUpLoc
{
    font-size: 14px;    
    margin-bottom: -10px;
}

.chkmsg
{
    margin: 1px 40px 0px 3px;   
}

.upinfo
{
    margin: 1px 10px 0px 10px;
    text-align: right;
}

.hrclass
{
    margin-bottom: 20px;
    margin-top: 10px;   
}

#IsIrisUpload, #IsPublicUpload
{
    margin-right: 5px;   
}

.spaced
{
    margin-bottom: 10px;
}

.Button
{
    padding: 0px 10px;
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    margin-top: -5px;   
}

.Button:hover
{
    opacity: 0.7;
}

.labelbox
{
    margin-right: 10px;
}

#txtNewFolderName
{
    width: 200px;
    margin-right: 10px;  
    height: 26px; 
}

#createBtn
{
    padding: 0px 25px;
    font-size: 13px;   
    color: #8D2136;
    background-color: #f4f4f4;
}

#foldererr
{
    padding-left: 145px;   
}

#myupload
{
    margin-bottom: 20px;   
}

td .btn
{
    margin-top: 25px;   
}

.col-lg-7, col-lg-5
{
    width: 100% !important;   
}

.newFolderbtn
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;   
}

.btn-danger
{
    display: none !important;
}

.col-lg-7 input[type='checkbox']
{
    display: none !important;
}

.template-download td .btn-warning
{
    display: none !important;
}

#txtIntroName
{
    margin-bottom: 15px;
    font-size: 15px;
    margin-left: 5px;
}

.userInfo
{
    float: left;
    padding: 25px 10px 20px 5px;
    font-size: 14px;
}

.userinfotitle
{
    color: #666;
    font-size: 12px;
    margin: 0px 0px 2px 0px;
}

.userinfotitle3
{
    color: #999;
    font-size: 11px;
    margin: 0px 0px 2px 0px;
}

.userinfotitle2
{
    margin: 0px 0px 10px 0px;
    background-color: #369;
    width: 120px; 
}

.infodiv
{
    margin: 0px 0px 15px 0px;   
}

.pwmsg
{
    margin: 15px 0px 5px 0px;
    font-size: 13px;
}   

.passwordBox
{
    width: 170px;  
    margin: 0px ;
    font-size: 12px; 
    padding-left: 5px;
    height: 20px;
}

#btnSaveChanges
{
   width:80px;
   margin: 10px 0px 20px 0px;   
}

.GenTextbox
{
    border: 1px solid #999;
    height: 22px;
    width: 170px;
    padding-left: 5px;
    margin: 0px !important;
}

.GenTextbox2
{
    margin-left: 15px;
    border: 1px solid #999;
    height: 22px;
    width: 170px;
    padding-left: 5px;
    margin-top: 0px !important;
}

.GenTextbox3
{
    border: 1px solid #999;
    height: 22px;
    width: 170px;
    margin: 0px !important;
    padding-left: 5px;
}

.plznote
{
    width: 560px;
    margin: 20px 0px 0px 0px;
}

.arrow4
{
    background: url(/images/arrow4.png) no-repeat 0px 6px;    
    width: 10px;
    height: 20px;
    margin: 0px 5px 0px 0px;
}

.plsnoteheader
{
    color: #369;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 7px;
}

.plstext
{
    font-size: 13px;
    color: #333;
    line-height: 20px;
    width: 520px;
}

.staffpic
{
    width: 200px;
    height: 250px;  
    margin: 4px 20px 0px 0px;
    border: 1px solid #ccc; 
    cursor: pointer; 
    border: 1px solid #ccc;
}

.staffpic:hover
{
    opacity: 0.7;    
}

.staffpic img
{
    height: 100%;
    width: 100%;    
}

.staffinfo
{
    width: 390px;   
}