/*
 * jquery sDashboard (2.0)
 * Copyright 2012, Model N, Inc
 * Distributed under MIT license.
 * https://github.com/ModelN/sDashboard
 */

/*dashboard css*/
.sDashboard {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
	padding-top: 0.5%;
	width: 100%;
	height: 100%;
	font-family : Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size : 13px;
	/*overflow: auto;*/
}

.sDashboard li {
	padding: 1px;
	float: left;
	width: 80%;
	height: 100%;
}

#myDashboard li
{
    width: 32.92%;
    height: 48%;
    margin-right: 3px;
    margin-bottom: 0.7%;
}

 #myDashboard2 li
 {
    width: 48.5%;
    height: 97.5%;
    margin-right: 10px;
    margin-bottom: 0.7%;
 }

 #myDashboard2 .sDashboardWidgetContent {
    height: 93% !important;
}

#myDashboard2 .sDashboardWidgetHeader {
    height: 20px !important;
}

 #myDashboard3 li
 {
    width: 48.5%;
    height: 97.5%;
    margin-right: 10px;
    margin-bottom: 0.5%;
 }

 #swctivityDash .sDashboardWidgetContent {
    height: 93%;
}

#socketworkssummary, #paymentsUploadedDash {
    height: 48% !important;
}

#myDashboard3 .sDashboardWidgetHeader {
    height: 20px !important;
}

/*dashboard widget css*/
.sDashboardWidget {
    height: 100%;
	border: 1px solid #CBCBCB;
	background-color: #fff;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
    overflow-y: hidden;
}
.sDashboardWidget:hover {
	border: 1px solid #AFAFAF;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
}

/*dashboard widget header css*/
.sDashboardWidgetHeader {
	margin: 0.3em;
	padding: 2px 0.2em 2px 1em;
	border: 0;
	border-bottom: 1px solid #CBCBCB;
	color: #000;
	font-weight: bold;
}

/*dashboard widget content css*/
.sDashboardWidgetContent {
	margin: 0px 5px 0px 5px;
    padding: 5px 0px 0px 0px;
    height: 85.5%;
    overflow-x: hidden;
    overflow-y: auto;
}

#afisactivityDash .sDashboardWidgetContent
{
    height: 92.5%;
    box-sizing: border-box;
    margin-top: 26px;
}

.sDashboard-circle-plus-icon 
{
    display: none;   
}

#weeklydash div div .sDashboard-circle-plus-icon, #passportsViewedDash div div .sDashboard-circle-plus-icon, #pingdomStats div div .sDashboard-circle-plus-icon, #last7daysAvgdash .sDashboard-circle-plus-icon,
#passportreportchartDash .sDashboard-circle-plus-icon, #afisactivityDash .sDashboard-circle-plus-icon, passportreportchartDash .sDashboard-circle-plus-icon
{
    display: block;
}

#weeklydash div div .sDashboardExpand, #passportsViewedDash div div .sDashboardExpand, #pingdomStats div div .sDashboardExpand,
#afisactivityDash .sDashboardExpand, #last7daysAvgdash .sDashboardExpand, #passportreportchartDash .sDashboardExpand
{
    display: none !important;
}

.sDashboardWidgetContentMaximized #statusHistoryTable thead th, .sDashboardWidgetContentMaximized #statusHistoryTable td
{
    font-size: 15px !important;
} 

.sDashboardWidgetContentMaximized {
	margin: 0.3em;
	padding: 0.4em;
	height: 90%;
	font-size: 16px;
}

.sDashboardWidgetContentMaximized div div div .aheader
{
    font-size: 15px;
}

.sDashboardWidgetContainerMaximized .sDashboardWidgetHeader
{
    font-size: 17px;
    text-align: center;
}


/*for centering trick see  : http://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
.sDashboardWidgetContainerMaximized {
	z-index: 9999;
	position: fixed;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
}



/*dashboard table widget css*/
.sDashboardTableView {
	width: 100%;
	height: 95%;
	overflow: auto;
}


.sDashboardTableView tbody tr:nth-child(odd)		{ background-color:#F5F5F5; }
.sDashboardTableView tbody tr:nth-child(even)		{ background-color:#FFFFFF; }

.sDashboardTableView tbody tr:nth-child(odd):hover,
.sDashboardTableView tbody tr:nth-child(even):hover
{
	background-color: #FCEFA1;
	cursor: pointer;
}


.dataTables_length, 
.dataTables_info{
	float:left;
}

.dataTables_filter,
.dataTables_paginate{
	float:right;
}

/*.sDashboardWidgetHeader
{
    color: #369 !important;
    font-size: 13px;    
    height: 7%;
}*/

/*dashboard chart view css*/
.sDashboardChart {
	/*	width: 200px;
	 height: 180px;*/
	width: 100%;
	height: 95%;
	/*	cursor: pointer;*/
}

.sDashboardChartClickable {
	cursor: pointer;
}
.sDashboardChartSelectable {
	width: 100%;
	height: 95%;
	cursor: crosshair;
}

/*jquery sortable placeholder styles */
.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 225px !important;
	width: 375px !important;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}

li.ui-sortable-placeholder {
	background-color: #FCEFA1;
}

/*icons*/
.sDashboard-icon, .sDashboardExpand {
	margin: -3px 5px 0 5px;
	float: right;
	background: url('/images/icon-sprite.PNG') no-repeat;
	width: 20px;
	height: 20px;
}

.sDashboard-icon:hover, .sDashboardExpand:hover {
	cursor: pointer;
}

.sDashboard-icon.sDashboard-circle-plus-icon, .sDashboardExpand {
	background-position: -2px -3px;
}
.sDashboard-icon.sDashboard-circle-minus-icon {
	background-position: -2px -29px;
}
.sDashboard-icon.sDashboard-circle-remove-icon {
	background-position: -2px -55px;
	display: none;
}

.sDashboard-icon.sDashboard-plus-icon {
	background-position: -3px -83px;
}
.sDashboard-icon.sDashboard-minus-icon {
	background-position: -2px -109px;
}
.sDashboard-icon.sDashboard-remove-icon {
	background-position: -3px -135px;
}


.sDashboard-icon.sDashboard-trash-icon {
	background-position: -4px -159px;
}
.sDashboard-icon.sDashboard-refresh-icon {
	background-position: -3px -186px;
	display: none;
}
.sDashboard-icon.sDashboard-maximize-icon {
	background-position: -2px -212px;
}

.sDashboard-icon.sDashboard-minimize-icon {
	background-position: -2px -236px;
}

/*clear fix*/

.sDashboard-clearfix:before, .sDashboard-clearfix:after {
	content: "";
	display: table;
}
.sDashboard-clearfix:after {
	clear: both;
}
.sDashboard-clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*overlay*/

.sDashboard-overlay {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	z-index: 9998;/*z-index one less than window maximized css*/
}
/*.sDashboard-overlay {
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.1);
 background-size: 100% 100%;
 position: fixed;
 }*/
 
 #PassportVerificationLastYear
 {
    margin-top: -40px;    
 }

 .gorightbtn
 {
     position: absolute;
     height: 50px;
     width: 50px;
     right: 3px;
     top: 40%;
     opacity: 0.2;
     cursor: pointer;
     z-index:99999;
     background-image: url(/images/rarrow.png)
 }

 .gorightbtn:hover
 {
     opacity: 0.9;
 }

 .goleftbtn
 {
     position: absolute;
     height: 50px;
     width: 50px;
     left: 3px;
     top: 40%;
     opacity: 0.2;
     cursor: pointer;
     z-index:99999;
     background-image: url(/images/larrow.png)
 }

 .goleftbtn:hover
 {
     opacity: 0.9;
 }

 #afisactivityDash
 {
     height: 97.5% !important;
 }

 .sDashboardWidgetContentMaximized #DataTemplteTable thead th, .sDashboardWidgetContentMaximized #DataTemplteTable td
 {
     font-size: 16px !important;
 }

.errorlogs {
    position: absolute;
    right: 93px;
    top: 11px;
    height: 25px;
    cursor: pointer;
    width: 27px;
    display: none;
    background: url(/Images/errorlogs.png)
}

.uploadlogs {
    position: absolute;
    right: 60px;
    top: 11px;
    height: 25px;
    cursor: pointer;
    width: 27px;
    display: none;
    background: url(/Images/uploadlogs2.png)
}


#errorlogbranchStatusViewerLocal, #uploadlogbranchStatusViewerLocal
{
    display: block !important;
}

.fixedheader {
    position: fixed;
    width: 31%;
    z-index: 4;
    margin-top: -26px;
}

.dataTables_wrapper
{
    overflow-y: auto;
}