﻿.SearchControlDiv
{
    margin: 0px auto;
    background-color: #E0E0E0;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    border-radius: 2px 2px 0px 0px; 
    -moz-border-radius: 2px 2px 0px 0px; 
    -webkit-border-radius: 2px 2px 0px 0px; 
	-khtml-border-radius:  2px 2px 0px 0px;
	padding: 0px 0px 20px 0px;
}

.jdpicker
{
    width: 102px; 
    padding-left: 5px;
    background: white url(/images/calender.jpg) no-repeat 87px 6px;
    height: 24px;
    border: 1px solid #ccc;
    margin-top: 1px;
}

.innerSearch
{
    margin: 0px auto; 
    width: 620px;
    padding: 25px 0 15px 0;
}

.nlabel
{
    color: #333;
    margin-right: 10px;
    width: 300px;
    text-align: right;
    line-height: 30px;
}

.Input
{
    height:30px;
    font-size: 11px;
    border: none;
    padding-left: 8px;
    margin: 0px 10px 0px 0px;
    width: 500px;
}

.SearchButton
{
    background: url(/images/minisearch.jpg) no-repeat 70px 4px;
    color: White;
    width: 60px;
    text-align: left;
    padding: 0px 30px 0px 20px;
    background-color: #8D2136;
    border: none;
    cursor: pointer;
    line-height: 33px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    outline: none;
}

.searchboxx
{
    width: 120px;
    position: absolute;
    bottom: 34px;
    right: 144px;
}

.SearchButton:hover
{
    opacity: 0.7; 
}

.advSearch
{
    display: none;
}

.advSearch hr
{
    margin: 10px 11px 10px 0px;
    border: none;
    background-color: #ccc;
    height: 1px;
}

.advancedSearchbtn
{
    position: absolute;
    bottom: -20px;
    left: 310px;
    width: 190px;
}

.advSearchInner
{
    color: #369;
    line-height: 25px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 5px 10px 5px 15px;
    opacity: 0.8;   
    z-index: 999;
    margin:0px auto;
}


.advancedSearchPop
{
    display: none;
    padding: 20px 30px;
    background-color: White;
    border-radius: 8px 8px 8px 8px; 
    -moz-border-radius: 8px 8px 8px 8px; 
    -webkit-border-radius: 8px 8px 8px 8px; 
	-khtml-border-radius:  8px 8px 8px 8px; 
}

.advSearchInfo
{
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 0px 30px;
    height: 30px;
}

.unselected
{
    height: 25px;
    width: 25px;
    margin-left: 2px;
    background: url(/images/advclicked.png);   
}

.selected
{
    height: 25px;
    width: 25px;
    margin-left: 2px;
    background: url(/images/advclicked2.png);   
}

.advoption
{
    border-top: 1px solid #f4f4f4;
    padding: 7px 0px 7px 0px;
}

.option5
{
    border-bottom: 1px solid white;   
}

.To
{
    margin: 5px 15px;
}
