﻿
@Scripts.Render("~/bundles/jquery")
<link href='/content/fullcalendar.print.css' rel='stylesheet' media='print' />
@Styles.Render("~/Content/CalenderCss")
@Scripts.Render("~/bundles/CalenderJs")

@model IrisDataManagement.Models.BigModel

<div id="top"></div>
<div class="Header">Calendar</div>
<hr class="hrclass" />

@Html.HiddenFor(model => model.Calender.DefaultDate, new { id = "defaultDate" })
@Html.HiddenFor(model => model.Calender.Start, new { id = "txtStart" })
@Html.HiddenFor(model => model.Calender.Stop, new { id = "txtStop" })
@Html.HiddenFor(model => model.Calender.EventTitle, new { id = "txtTitle" })
@Html.HiddenFor(model => model.Calender.CurrentEventId, new { id = "txtEventId" })
@Html.HiddenFor(model => model.Calender.MyEvents, new { id = "MyEvents" })
@Html.Hidden("EventsArray", Model.Calender.EventsArray, new { id = "EventsArray" })
@Html.Hidden("IsDelete", null, new { id = "IsDelete" })
<div id='calendar'></div><div class="PopupWindow" id="CalenderPopup">
    <div id="prevClose" class="closebtn closeme">X</div>
    <div class="eventpopupheader medfirstletter">Create New Event</div>
    <div class=".readonly">
    <div class="eventline">
        <div class="infobox left">Event Title </div>
        @Html.TextBox("txtEventTitle", null, new { id="txtEventTitle", @class="eventTextbox" })
        <div id="erreventtitle" class="validationMessage isDiv hidden"></div>
        <div class="clear"></div>
    </div>
    <div class="eventline">
         @Html.Hidden("HourArray", Model.Calender.HourArray, new { id = "HourArray" })
         @Html.Hidden("MinuteArray", Model.Calender.MinuteArray, new { id = "MinuteArray" })

        <div style="margin-top: 1px" class="infobox left">From</div>
         @Html.Hidden("cmbHourStart", null, new { id = "cmbHourStart", @class = "left", @style = "width: 65px;" }) 
         <div class="left" style="margin: 0px 5px 0px 5px;">:</div> 
         @Html.Hidden("cmbMinuteStart", null, new { id = "cmbMinuteStart", @class = "left", @style = "width: 65px;" })  
         @Html.CheckBox("chkIsAllDay", new { id = "chkIsAllDay", @class = "left", @style = "margin: 3px 5px 0px 29px;" })  
         <div class="left" style = "margin: 2px 0px 0px 0px;">All Day</div> 
        <div class="clear"></div>
    </div>
    <div class="eventline Hidden" id="timeEndDiv">
        <div style="margin-top: 1px" class="infobox left">To</div>
         @Html.Hidden("cmbHourEnd", null, new { id = "cmbHourEnd", @class = "left", @style = "width: 65px;" }) 
         <div class="left" style="margin: 0px 5px 0px 5px;">:</div> 
         @Html.Hidden("cmbMinuteEnd", null, new { id = "cmbMinuteEnd", @class = "left", @style = "width: 65px;" })  
        <div class="clear"></div>
    </div>
    <div class="eventline" id="staffDiv">
        <div class="left infobox" style="margin-top:1px">Staff Invited</div>
        @Html.Hidden("StaffArray", Model.Calender.StaffArray, new { id = "StaffArray" })
        @Html.Hidden("cmbStaff", null, new { id = "cmbStaff", @class = "left", @style = "width: 288px; margin-top: -6px;" })     
        <div class="clear"></div>
    </div>
    <div style="margin: -14px 0px 20px 107px" id="staffemailDiv">
        @Html.CheckBox("chkEmailStaff", new { id = "chkEmailStaff", @class = "left", @style = "margin: 3px 5px 0px 0px;" }) 
        <div class="left" style = "margin: 2px 0px 0px 0px;">Send email to staff</div> 
        <div class="clear"></div>
    </div>
    <div class="eventline" id="visDiv">
        <div class="left infobox" style="margin-top:1px">Visibility</div>
        @Html.Hidden("GroupsArray", Model.Calender.GroupsArray, new { id = "GroupsArray" })
        @Html.Hidden("cmbGroup", null, new { id = "cmbGroup", @class = "left", @style = "width: 288px;" })     
        <div class="clear"></div>
    </div>
    <div class="eventline" id="textColorDiv">
        <div class="left infobox" style="margin-top:1px">Text Colour</div>
        @Html.Hidden("ColorsArray", Model.Calender.ColorsArray, new { id = "ColorsArray" })
        @Html.Hidden("cmbColor", null, new { id = "cmbColor", @class = "left", @style = "width: 100px;" })     
        <div class="clear"></div>
    </div>
    <div class="eventline" id="bgColorDiv">
        <div class="left infobox" style="margin-top:1px">Background</div>
        @Html.Hidden("cmbBgColor", null, new { id = "cmbBgColor", @class = "left", @style = "width: 100px;" })     
        <div class="clear"></div>
    </div>
    <div class="eventline" id="descDiv">
        <div class="infobox left">Description (optional) </div>
        @Html.TextArea("txtDescription", null, new { id = "txtDescription", @class = "eventTextarea" })
        <div class="clear"></div>
    </div>
    <div id="btnCreateEvent" class="Button createbtn slightRounded right">Save</div>
    <div id="txtPostedby" class="postedby left"></div>
    <div class="clear"></div>

    <div id="calloadingdiv" class="loadingdiv loading right Hidden"><div class="lilmodal"></div></div>
    </div>
</div><div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="thxInfo" id="Div1"></div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>
<div id="PopupQuestion" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt2" style="margin-bottom: 10px" class="thxHeader textcentered"></div>
        <div class="thxInfo"></div>
        <div id="btnYes" style="margin:10px 0px 0px 10px" class="closeButton closeme left">Yes</div>
        <div style="margin:10px 10px 0px 0px" class="closeButton closeme right">No</div>
         <div class="clear"></div>
    </div>
</div>