﻿@model IrisDataManagement.Models.BigModel
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = "ViewJob";
}

@if (!User.Identity.IsAuthenticated || Session["CurrentUser"] == null)
{
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/login")
    <div class="logindiv">
        @Html.Partial("Login", Model.LoginModel)
    </div>
    <div class="PopupWindow" id="RegistrationPopup">
        @Html.Partial("_RegisterControl", Model.RegisterModel)
    </div>
    <div class="PopupWindow" id="ForgotPassword">   
        <div id="fclose" class="closebtn closeme">X</div>
        <div style="font-size: 15px;margin: -10px 0px 15px 0px;" class="medfirstletter">Can't remember your password?</div>
        <div style="margin: 0px 2px 10px 0px;">We'll send you a link to reset it. Just enter your email below:</div>
        <div>
            @Html.TextBox("txtResetEmail", null, new { id = "txtResetEmail", @class = "otherTextbox2 left" })
            <div onclick="SendReset()" class="Button left">Send</div>
            <div class="clear"></div>
        </div>
        <div  id="forgotpwval" class="validationMessage2 hidden"></div>
        <div id="floadingdiv" class="loadingdiv loading right Hidden"><div class="lilmodal"></div></div>
        <div class="clear"></div>
    </div>
    
    if (Model.ShowPasswordChange)
    {
        <div class="PopupWindow" id="createNewPassword" style="padding-left: 35px">   
            <div id="cclose" class="closebtn closeme">X</div>
            <div style="font-size: 17px;margin: -15px 0px 20px 0px;" class="medfirstletter">Reset Your Password</div>
            <div class="left" style="margin: 0px 10px 10px 0px; font-weight: bold;">Email:</div>
            <div class="left" id="txtcurremail" style="margin: 0px 2px 10px 0px;">@Model.CurrentEmail</div>
            <div style="margin: 0px 10px 10px 0px;">
                @Html.Password("txtNewPw", null, new { id = "txtNewPw", @class = "otherTextbox2", placeholder = "Enter New Password" })
            </div>
            <div style="margin: 0px 10px 0px 0px;">
                @Html.Password("txtNewPwConfirm", null, new { id = "txtNewPwConfirm", @class = "otherTextbox2", placeholder = "Confirm New Password" })
            </div>
            <div id="resetPwVal" class="validationMessage2 hidden"></div>
            <div style="margin: 15px 20px -10px 0px;">
                <div onclick="SaveNewPassword()" class="Button right">Save</div>
                <div class="clear"></div>
            </div>
            <div id="pwchangeloadingdiv" class="loadingdiv loading right Hidden"><div class="lilmodal"></div></div>
        </div>
        <script type="text/javascript">
            function SaveNewPassword() {
                var np = $('#txtNewPw').val();
                var npc = $('#txtNewPwConfirm').val();
                if (np == '') {
                    $('#resetPwVal').text('Please enter your new password');
                    return false;
                }
                if (npc == '') {
                    $('#resetPwVal').text('Please confirm new password');
                    return false;
                }
                if (np != npc) {
                    $('#resetPwVal').text('Password and confirmation must match');
                    return false;
                }

                $('#pwchangeloadingdiv').slideDown(function () {
                    $.ajax({
                        type: "GET",
                        url: "/SaveNewPassword",
                        data: { password: np, email: $('#txtcurremail').text() },
                        dataType: "json",
                        error: function (result) {
                            $('#createNewPassword').trigger('close');
                            ShowPopup("Unable to set new password. Please check your internet connection");
                        },
                        success: function (result) {
                            $('#pwchangeloadingdiv').slideUp(function () {
                                $('#createNewPassword').trigger('close');
                                setTimeout( function () {
                                    if (result.status == "0")
                                        ShowPopup("Your password has been reset. Please log in.");
                                    else
                                        ShowPopup("Password change failed. Please try again.");
                                }, 500);
                            });
                        }
                    });
                });
            }

            $(document).ready(function () {
                $('#createNewPassword').lightbox_me({
                    centered: true
                });
            });
        </script>
    }
}
else
{
    <div class="homewrapper">
        <div class="welcometext">Welcome to the Iris Repository.</div>
        <div class="hometext">For first time users, here is a quick overview of how this portal works:</div>
        <div class="divbg searchbg">
            <img src="/images/magnify.png" height="100" width="100" />
            <div class="bigfirstletter">Search for any document in the repository by clicking on the <a style="color:#8D2136" href="/Search">Search</a> menu option at the top and then filling in the details of what you're looking for.</div>
            <div class="innerhomediv">The more details you give, the more accurate the search will be.</div>
        </div>
        <div class="divbg padlockbg">
            <img src="/images/padlock2.png" height="80" width="80" />
            <div class="bigfirstletter">Documents with a padlock beside them require a higher security clearance and so cannot be viewed or edited.</div>
            <div class="innerhomediv">Contact someone with sufficient privileges to grant you access if you really need to do something with the document.</div>
        </div>
        <div class="divbg uploadbg">
            <img src="/images/upload.png" height="70" width="70" />
            <div class="bigfirstletter">Upload documents in the <a style="color:#8D2136" href="/MyDocs">My Docs</a> section which will be available to everyone with sufficient security clearance to view and download.</div>
            <div class="innerhomediv">Remember though that if you set it at a security level higher than yours, even you won't have access to it until given access by someone higher up!</div>
        </div>
        <div class="divbg browsebg">
            <img src="/images/folder.png" height="70" width="70" />
            <div class="bigfirstletter">Browse through the folders and files to see how things are arranged and reorder as necessary by clicking on the <a style="color:#8D2136" href="/Browse">Browse</a> menu option (Restricted to security level 2 and above).</div>
            <div class="innerhomediv">Please careful what you do with the files. Well ordered files allow for quick location of files.</div>
        </div>
    </div>
}

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="thxInfo" id="Div1"></div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.PopupMsg))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PopupInfo').lightbox_me({
                centered: true
            });
        });
    </script>
} 