﻿@model IrisDataManagement.Models.BigModel

@{
    ViewBag.Title = "MyAccount";
}
@Styles.Render("~/Content/myaccount")
@Scripts.Render("~/bundles/myaccount")

<div id="MyAccountDiv">
    <div class="Header">My Account</div>
    <hr class="hrclass" />
    <div class="accMainDiv">
        <div id="txtIntroName">Hello @Model.User.FirstNameUpper,</div>
        <div class="left leftSide" style="width: 195px">
            <div class="menuLeft shadow-noright" style="width: 193px">
                <div class="myAcc active">Personal Information</div>
            </div>
            <div class="balancer"></div>
            <div class="clear"></div> 
              
            <div class="userInfo left">
                <div class="infodiv">
                    <div class="userinfotitle3">NAME:</div>
                    <div id="txtAccName">@Model.User.FullName</div>
                </div>
                <div class="infodiv">
                    <div class="userinfotitle3">REGISTERED SINCE:</div>
                    <div id="txtMemberSince">@Model.User.DateOfRegistration.ToString("MMM dd, yyyy")</div>
                </div>
                @if (!string.IsNullOrEmpty(Model.User.PhoneNumber))
                {
                    <div class="infodiv">
                        <div class="userinfotitle3">PHONE NUMBER:</div>
                        <div id="txtPhone">@Model.User.PhoneNumber</div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.User.Department))
                {
                    <div class="infodiv">
                        <div class="userinfotitle3">DEPARTMENT:</div>
                        <div id="txtDep">@Model.User.DepartmentName</div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.User.Position))
                {
                    <div class="infodiv">
                        <div class="userinfotitle3">POSITION:</div>
                        <div id="txtPos">@Model.User.PositionName</div>
                    </div>
                }
            </div>
            <div class="clear"></div>
            <div class="pwmsg">Confirm your password:</div> 
            @Html.Password("txtPassword", null, new { id = "txtPassword", Placeholder = "Enter password", @class = "passwordBox" }) 
            <div id="pwvalidation" style="margin-left: 2px; font-size: 11px" class="validationMessage2 hidden"></div>
            <div id="btnSaveChanges" class="Button left" onclick="UpdateUser();">Save Changes</div>
            <div id="cploadingdiv" style="margin-top: -14px" class="loadingdiv loading left Hidden"><div class="lilmodal"></div></div>
            <div class="clear"></div>
        </div>
        <div class="left rightSide shadow" style="width: 670px"> 
            <div class="editDetails isSelected">
            @Html.HiddenFor(model => model.User.EmailAddress, new { id = "txtStartEmail"})
            <div>
                <div id="txtErrorMessage" class="errorMessage mainerrormsg left">@Model.ErrorMsg</div>
                <div class="clear"></div>
            </div>
            <div style="margin: 20px 0px 0px 0px">
                <div id="staffpic" class="left staffpic">
                    <div class="modal"></div>
                    @if (string.IsNullOrEmpty(Model.User.ProfilePicture))
                    {
                        <img id="imgPicture" src="/images/no_imgs.png" />
                    }
                    else
                    {
                        <img id="imgPicture" alt="" src="data:image;base64,@Model.User.ProfilePicture" />
                    }  
                    <input type='file' onchange="imageUploaded()" accept="image/*" style="display:none;" name="photosubmit" id="photosubmit"/>                  
                </div>
                <div class="left staffinfo">
                    <div class="infodiv left" style="margin: 0px 20px 0px 0px">
                        <div class="userinfotitle">First Name:</div>
                        @Html.TextBox("txtFirstname", Model.User.FirstNameUpper, new { @class = "GenTextbox", placeholder = "First Name" })
                    </div>
                    <div class="infodiv left">
                        <div class="userinfotitle">Surname:</div>
                        @Html.TextBox("txtSurname", Model.User.SurnameUpper, new { @class = "GenTextbox", placeholder = "First Name" })
                    </div>
                    <div class="clear"></div>   
                       <div class="clear"></div>  
                    <div class="infodiv left">
                        <div class="userinfotitle">Phone Number:</div>
                        @Html.TextBox("txtPhoneNumber", Model.User.PhoneNumber, new { @class = "GenTextbox3", placeholder = "Phone number", style = "width:170px" })
                    </div>  
                    <div style="margin-left: 20px" class="infodiv left">
                        <div style="margin-left: 3px" class="userinfotitle">Gender:</div>
                        @Html.Hidden("GenderArray", Model.Search.GenderArray, new { id = "GenderArray" })
                        @Html.Hidden("cmbGender", Model.User.Gender, new { id = "cmbGender", @style = "width:85px; margin-top: 6px; font-size: 12px" })
                    </div>   
                    <div class="clear"></div>         
                   <div class="infodiv left">
                        <div class="userinfotitle">Department:</div>
                        @Html.Hidden("DepartmentArray", Model.Search.DepartmentArray, new { id = "DepartmentArray" })
                        @Html.Hidden("cmbDepartment", Model.User.Department, new { id = "cmbDepartment", @style = "width:374px; margin-top: 6px; font-size: 12px" })
                    </div>
                    <div class="infodiv left">
                        <div class="userinfotitle">Position:</div>
                        @Html.Hidden("PositionArray", Model.Search.PositionArray, new { id = "PositionArray" })
                        @Html.Hidden("cmbPosition", Model.User.Position, new { id = "cmbPosition", @style = "width:374px;margin-top: 6px; font-size: 12px" })
                    </div>                         
                </div>
                <div class="clear"></div>
            </div>
            <hr class="hrclass" style="margin-top: 30px"/>
            <div class="infodiv" style="margin: 20px 20px 0px 0px">
                <div class="userinfotitle2 Button">Change My Password</div>                
                <div id="changepwdiv" class="Hidden">
                    @Html.Password("txtNewPassword", null, new { Placeholder = "Enter new password", @class = "GenTextbox3 left", style = "padding-left: 5px", id = "txtNewPassword" })
                    @Html.Password("txtNewPasswordConfirm", null, new { Placeholder = "Confirm new password", @class = "GenTextbox3 left", style = "padding-left: 5px; margin-left: 16px !important;", id = "txtNewPasswordConfirm" })
                </div>
                <div class="clear"></div>
                <div id="passwordvalidation" style="margin-left: 2px; font-size: 11px" class="validationMessage2 hidden"></div>
            </div>
            <div class="plznote">
                <div class="plsnoteheader">Please Note:</div>
                <div>
                    <div class="arrow4 left"></div>
                    <div class="plstext left">Your position may be updated automatically based on Iris records.</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        </div>  
        <div class="clear"></div>       
     </div>
</div>
<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="thxInfo" id="Div1"></div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.PopupMsg))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PopupInfo').lightbox_me({
                centered: true
            });
        });
    </script>
} 
