﻿@{
    ViewBag.Title = "My Documents";
}

@model IrisDataManagement.Models.BigModel
@Styles.Render("~/Content/mydocuments")
@Scripts.Render("~/bundles/mydocuments")

@Html.HiddenFor(model => model.PopupMsg, new { id = "popup" })
<div id="MyDocsDiv">
    <div class="Header">My Documents</div>
    <hr class="hrclass" />
    <div class="accMainDiv">
        <div class="left leftSide">
            <div class="menuLeft shadow-noright">
                <div class="myDocs active">My Folder</div>
                <div class="uploadFile inActive">Upload File</div>
                <div class="createFile inActive">Create File</div>
            </div>
            <div class="balancer"></div>
            <div class="clear"></div>   
        </div>
        <div class="left rightSide shadow"> 
            <div>
                <div class="modal"></div>
                <div id="ViewDocsDiv">
                    @Html.Partial("_MyDocuments", Model.MyDocs)
                </div>
                <div id="UploadDocsDiv" class="Hidden">
                    @Html.Partial("_UploadDocument", Model.MyDocs)
                </div>
                <div id="CreateDocsDiv" style="margin-left: 20px;" class="Hidden">
                    @Html.Partial("_CreateDocument", Model.MyDocs)
                </div>
            </div>  
        </div>  
        <div class="clear"></div>       
     </div>
</div>
<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="thxInfo" id="Div1"></div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.PopupMsg))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PopupInfo').lightbox_me({
                centered: true
            });
        });
    </script>
} 
