﻿@{
    ViewBag.Title = "Reports";
}

@model IrisDataManagement.Models.BigModel
@Styles.Render("~/Content/reports")
@Scripts.Render("~/bundles/reports")

@Html.HiddenFor(model => model.PopupMsg, new { id = "popup" })
@Html.Hidden("AdminReportsArray", Model.AdminReports.ReportsArray, new { id = "AdminReportsArray" })
<div id="MyReportsDiv">
    <div class="Header">Project Reports</div>
    <hr class="hrclass" />
    <div class="accMainDiv">
        <div class="left leftSide">
            <div class="menuLeft shadow-noright">
                @if (Model.IsAdmin)
                {
                    <div class="admin inActive">Admin</div>
                }
                <div class="general active">General</div>
                <div class="nibss inActive">NIBSS</div>
                <div class="passport inActive">Passport</div>
               
            </div>
            <div class="balancer"></div>
            <div class="clear"></div>   
        </div>
        <div class="left rightSide shadow"> 
            <div id="nibssdiv" class="Hidden">
                <div id="NibssMaintenanceDiv">
                    @Html.Partial("_NibssMaintenance", Model.IrisReports)
                </div>
            </div>
            <div class="Hidden" id="passportdiv">
                <div id="NibssMaintenanceDiv">
                    @Html.Partial("_PassportPrintReport", Model.IrisReports)
                </div>
            </div>

            <div id="generaldiv">
                @Html.Partial("_GeneralReports", Model.IrisReports)
            </div>
            @if (Model.IsAdmin)
            {
                <div class="Hidden" id="admindiv">
                    @Html.Partial("_AdminMaintenance", Model.AdminReports)
                </div>
            }
        </div>  
        <div class="clear"></div>       
     </div>
</div>
<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="thxInfo" id="Div1"></div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.PopupMsg))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PopupInfo').lightbox_me({
                centered: true
            });
        });
    </script>
} 
