﻿@Styles.Render("~/Content/DocSearchCss")
@Scripts.Render("~/bundles/DocSearchJs")
@Scripts.Render("~/bundles/jquery")

@model IrisDataManagement.Models.BigModel

<div id="top"></div>
<div class="Header">Search</div>
@Html.Partial("_SearchControl", Model.Search)

<div class="SearchResults Hidden">
    <div id="docSearchDiv" class="docSearchDivM">
        <div id='divOrder' class="Sorter">
            <div class="sortInfo">
                <div class="left">Sort Results by : </div>
                <div class="left sortOptions">
                    @Html.Hidden("isdesc", null, new { id = "isdesc", @Value = "&#9660;" })
                    @Html.HiddenFor(model => model.Search.CurrentSort, new { id = "currentsort" })
                    <div id="txtPostingDate" onclick="DocSearch('PostingDate', '')" class="left @(Model.Search.CurrentSort == "PostingDate" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Posting Date " + (Model.Search.CurrentSort == "PostingDate" ? Model.Search.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtDocumentDate" onclick="DocSearch('DocumentDate', '')" class="left @(Model.Search.CurrentSort == "DocumentDate" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Document Date " + (Model.Search.CurrentSort == "DocumentDate" ? Model.Search.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtDocTitle" onclick="DocSearch('DocTitle', '')" class="left @(Model.Search.CurrentSort == "DocTitle" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Document Name " + (Model.Search.CurrentSort == "DocTitle" ? Model.Search.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtLocation" onclick="DocSearch('Location', '')" class="left @(Model.Search.CurrentSort == "Location" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Location " + (Model.Search.CurrentSort == "Location" ? Model.Search.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtDocType" onclick="DocSearch('DocType', '')" class="left @(Model.Search.CurrentSort == "DocType" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Doc Type " + (Model.Search.CurrentSort == "DocType" ? Model.Search.IsDesc + " " : ""))</div><div class="left">|</div>
                    <div id="txtLevel" onclick="DocSearch('Level', '')" class="left @(Model.Search.CurrentSort == "Level" ? "selectedSort" : "UnselectedSort")">@Server.HtmlDecode("Level" + (Model.Search.CurrentSort == "Level" ? Model.Search.IsDesc + " " : ""))</div>
                    <div class="clear"></div>
                </div> 
                <div class="clear"></div>
            </div>

            <hr class="hrclass" />                    
            <div class="limited">
                <div class="repeaterHeader1 left">DOCUMENT NAME</div>
                <div class="repeaterHeader2 left">DATE</div>
                <div class="repeaterHeader3 left">TYPE</div>
                <div class="repeaterHeader4 left">LOCATION</div>
                <div class="clear"></div>
            </div>
            <hr class="hrclass" />    
        </div>
    </div>
    <div id="SearchDiv">
        <div id="innerDiv">
            @Html.Partial("_DocumentSearch", Model.Search) 
        </div>
    </div>
</div>
<div class="PopupWindow" id="PreviewDocument">
    <div id="prevClose" class="closebtn">X</div>
    <div id="ViewPDFDiv">
        <div class="modal"></div> 
        <div id="viewDocInner" class="Hidden">
    
        </div> 
    </div>
</div>

<div id="PopupInfo2" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt2" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

<div class="PopupWindow" id="EditLevel">
    <div style="margin-bottom: 5px">Select who you want to give access to:</div>
    <div>
        @Html.Hidden("selectedDoc", null, new { id = "selectedDoc" })
        @Html.Hidden("StaffIdArray", Model.Search.StaffIdArray, new { id = "StaffIdArray" })
        @Html.Hidden("cmbStaffLevel", null, new { id = "cmbStaffLevel", @style = "width:368px;" })
    </div>
    <div style="margin: 15px 0px 5px 0px">Or select a department:</div>
    <div>
        @Html.Hidden("DeptIdArray", Model.Search.DepartmentArray, new { id = "DeptIdArray" })
        @Html.Hidden("cmbDepts", null, new { id = "cmbDepts", @style = "width:368px;" })
    </div>
    <div id="btnAssign" onclick="AssignAccess();" style="margin: 20px 0px 0px 0px; height: 24px; line-height: 24px;" class="Button right">Assign</div>
    <div id="btnAssCancel" style="margin: 20px 0px 0px 0px" class="closeButton closeme left">Cancel</div>
    <div class="clear"></div>
    <div id="assignloadingdiv" class="loadingdiv loading right Hidden"><div class="lilmodal"></div></div>
</div>