﻿@model IrisDataManagement.Models.Reports

<style>
    .repeater { font-size: inherit }
</style>
<div class="mymini" style="margin-top: -12px;">
    @if (Model.ReportsList.Count == 0)
    {
        <div class="noreportsfound">@Model.NoReportsMessage</div>
    }
    else
    {
        <div class="pingdomSummary" style="margin-top: -5px">
            <div id="resultPart" class="innerBox light">
                <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
                    <div class=""></div>
                    <table id="SummaryTemplateTable" class="dt withHover dataTable" width="578">
                        <colgroup>
                            <col width="38%">
                            <col width="22%">
                            <col width="23%">
                            <col width="26%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>Name</th>
                                <th class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">Ref No</th>
                                <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">Bank</th>
                                <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">Branch</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @for (int i = 0; i < Model.ReportsList.Count; i++)
                            {
                                IrisCommon.Entities.Report report = Model.ReportsList[i];
                                <tr class="@(i % 2 == 0 ? "even" : "odd")">
                                    <td class="reportName" title="@report.FullName" onclick="ShowPassportPreview('@(report.DocRefNum)')">@(report.FullName.Length > 30 ? report.FullName.Substring(0, 30) + "..." : report.FullName)</td>
                                    <td>@report.DocRefNum</td>
                                    <td>@report.Bank.BankName</td>
                                    <td style="border-right: none" title="@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Bank.BranchName)">@IrisDataManagement.Helpers.IHelper.ToFirstLetterUpperOnly(report.Bank.BranchName.Length > 20 ? report.Bank.BranchName.Substring(0, 20) + "..." : report.Bank.BranchName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
         <div id="ppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
                <div class="popupinnerdiv"></div>
        </div>
    }
</div>