﻿<!DOCTYPE html>
@model IrisDataManagement.Models.DashboardModel

<html lang="en" style="overflow: hidden">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <title></title>
        <link href="@Url.Content("~/Content/movingboxes.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/reports.css")" rel="stylesheet" />
        @Styles.Render("~/Content/general")
        <style>
	        #slider { width: 95%; height: 100% !important; }
	        #slider li { width: 75%; }
        </style>

        <script src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.select2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.lightbox_me.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Highcharts/highcharts.src.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/highcharts/modules/exporting.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Highcharts/highcharts-more.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/prettify-small-1-Jun-2011/google-code-prettify/prettify.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.movingboxes.js")" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $("#cmbDashboards").select2({
                    minimumResultsForSearch: 8
                });

                $("#cmbDashboards").on("change", function (e) {
                    if ($(this).val() == "0") {
                        window.location.href = "/Dashboards?view=NIBSS";
                    }

                    if ($(this).val() == "1")
                    {
                        window.location.href = "/Dashboards?view=Passport";
                    }

                    if ($(this).val() == "2") {
                        window.location.href = "/Dashboards?view=PassportUploader";
                    }

                    if ($(this).val() == "3") {
                        window.location.href = "/Dashboards?view=Socketworks";
                    }
                });
            });
        </script>
      
    </head>
    <body onload="prettyPrint()" id="wrapper" style="padding:70px 0px 13px 0px">
        <header class="header relative" style="margin-top:-70px; height: 52px;">
            <a href="/"><div class="irislogosmall left"></div></a>
            <div class="logosmall left">Iris Dashboards</div>
            @if (Model.Dropdown != 2 && Model.Dropdown != 3)
            { 
                <div class="refreshpage hoverfade right"></div>
                <div class="startSlide hoverfade right"></div>
            }
            <div class="clear"></div>
            <div class="absolute" style="margin-left: 43%; height: 100%; top:15px;">
                <div style="margin: 0px auto; font-size: 17px; width: 300px; text-align:center">
                    <select id="cmbDashboards" style="margin: auto; width: 300px;">
                    @if (Model.Dropdown == 0)
                    {
                        <option selected="selected" value="0">NIBBS Dashboard</option>
                        <option value="1">Passport Dashboard</option>
                        <option value="2">Downloader Dashboard</option>
                        <option value="3">Socketworks Dashboard</option>
                    }
                    
                    @if (Model.Dropdown == 1)
                    {
                        <option value="0">NIBBS Dashboard</option>
                        <option selected="selected" value="1">Passport Dashboard</option>
                        <option value="2">Downloader Dashboard</option>
                        <option value="3">Socketworks Dashboard</option>
                    }

                    @if (Model.Dropdown == 2)
                    {
                        <option value="0">NIBBS Dashboard</option>
                        <option value="1">Passport Dashboard</option>
                        <option selected="selected" value="2">Downloader Dashboard</option>
                        <option value="3">Socketworks Dashboard</option>
                    }

                    @if (Model.Dropdown == 3)
                    {
                        <option value="0">NIBBS Dashboard</option>
                        <option value="1">Passport Dashboard</option>
                        <option value="2">Downloader Dashboard</option>
                        <option selected="selected" value="3">Socketworks Dashboard</option>
                    }
                        
                    </select>
                </div>
            </div>
        </header>
                
        <div id="content2" style="width: auto;">
            @RenderSection("featured", required: false)
            <section class="main-content clear-fix" style="height: 100%;">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="footernote">©@(DateTime.Now.Year) - Iris Smart Technologies Ltd</div>
        </footer>
        <div id="PopupInfo" class="PopupWindow">
            <div class="popupinfoinner">
                <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
                <div class="closeButton closeme">Close</div>
            </div>
        </div>
        @Scripts.Render("~/bundles/master")
        @RenderSection("scripts", required: false)
    </body>
</html>
