﻿
@model IrisDataManagement.Models.DashboardModel

<link type="text/css" href="/Content/jquery-ui.css" rel="stylesheet" />
<link href="/Content/sDashboard.css" rel="stylesheet" />
<link href="/Content/jquery.gritter.css" rel="stylesheet"/>

<script src="/Scripts/libs/jquery/jquery-1.8.2.js" type="text/javascript"> </script>
<script src="/Scripts/libs/jquery/jquery-ui.js" type="text/javascript"> </script>
<script src="/Scripts/libs/touchpunch/jquery.ui.touch-punch.js" type="text/javascript"> </script>
<script src="/Scripts/libs/gitter/jquery.gritter.js" type="text/javascript"> </script>
<script src="/Scripts/libs/datatables/jquery.dataTables.js" type="text/javascript"> </script>
<script src="/Scripts/libs/flotr2/flotr2.js" type="text/javascript"> </script>
<script src="/Scripts/jquery-sDashboard.js" type="text/javascript"> </script>
<script src="/Scripts/libs/exampleData.js" type="text/javascript"> </script>
<script src="/scripts/highcharts/highcharts.js" type="text/javascript"></script>
<script src="/scripts/highcharts/modules/exporting.js" type="text/javascript"></script>

		
<script type="text/javascript">
    $(function () {
        // minimize/maximize size handling
        $("#myDashboard").bind("sdashboardwidgetmaximized", function (e, data) {
            var widgetDefinition = data.widgetDefinition;
            $("#" + widgetDefinition.widgetId + "x").hide();
            setTimeout(function () {
                $("#" + widgetDefinition.widgetId + "x").fadeIn('slow');
                $(window).resize();
            }, 500);
        });

        $("#myDashboard").bind("sdashboardwidgetminimized", function (e, data) {
            var widgetDefinition = data.widgetDefinition;
            $("#" + widgetDefinition.widgetId + "x").hide();
            setTimeout(function () {
                $("#" + widgetDefinition.widgetId + "x").fadeIn('1500');
                $(window).resize();
            }, 300);
        });

    });

            // Build the chart
//        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
//            return {
//                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
//                stops: [
//		            [0, color],
//		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
//		        ]
//            };
//        });

//        $('#container2x').highcharts({
//            credits: {
//                enabled: false
//            },
//            chart: {
//                plotBackgroundColor: null,
//                plotBorderWidth: null,
//                plotShadow: false
//            },
//            title: {
//                text: 'Browser market shares at a specific website, 2010'
//            },
//            tooltip: {
//                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
//            },
//            plotOptions: {
//                pie: {
//                    allowPointSelect: true,
//                    cursor: 'pointer',
//                    dataLabels: {
//                        enabled: true,
//                        color: '#000000',
//                        connectorColor: '#000000',
//                        formatter: function () {
//                            return '<b>' + this.point.name + '</b>: ' + this.percentage + ' %';
//                        }
//                    }
//                }
//            },
//            series: [{
//                type: 'pie',
//                name: 'Browser share',
//                data: [
//                    ['Firefox', 45.0],
//                    ['IE', 26.8],
//                    {
//                        name: 'Chrome',
//                        y: 12.8,
//                        sliced: true,
//                        selected: true
//                    },
//                    ['Safari', 8.5],
//                    ['Opera', 6.2],
//                    ['Others', 0.7]
//                ]
//            }]
//        });
</script>

@foreach (IrisDataManagement.Models.Chart chart in Model.Charts)
{
    <script type="text/javascript">
        $(function () {
             var dashboardJSON = [{
                widgetTitle : "Table Widget",
                widgetId: '@(Html.Raw(chart.ChartId))',
                enableRefresh: true, 
                refreshCallBack: function (widgetId) {
                    var refreshedData = {
                        data: myExampleData.constructBarChartData(),
                        options: myExampleData.barChartOptions
                    };
                    return refreshedData;
                },
                widgetContent: "<div id='@Html.Raw(chart.ChartId)x' style='width: 100%; height: 100%; margin: 0 auto'></div>"
            }];

            $("#myDashboard").sDashboard({
					dashboardData : dashboardJSON
				});

            $('#@(chart.ChartId)').highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    type: '@Html.Raw(chart.ChartType)'
                },
                title: {
                    text: '@Html.Raw(chart.ChartHeader)'
                },
                subtitle: {
                    text: '@Html.Raw(chart.SubTitle)'
                },
                xAxis: {
                    categories: [@(Html.Raw(chart.xAxisCategories))]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '@(chart.yAxisTitle)'
                    }
                },
                tooltip: {
                    headerFormat: "@(Html.Raw(chart.tooltipHeaderFormat))",
                    pointFormat: "@Html.Raw(chart.tooltipPointFormat))",
                    footerFormat: "@((Html.Raw(chart.tooltipFooterFormat)))",
                    shared: @(chart.tooltipShared),
                    useHTML: @(chart.tooltipUseHTML)
                },
                plotOptions: {
                    column: { @(Html.Raw(chart.plotOptionsColumn)) }
                },
                series: @(Html.Raw(chart.Series))
            });
        });

</script>
}

<div>
    <ul id="myDashboard"></ul>  
</div>