﻿<link type="text/css" href="/Content/jquery-ui.css" rel="stylesheet" />
<link href="/Content/sDashboard.css" rel="stylesheet" />
<link href="/Content/jquery.gritter.css" rel="stylesheet" />
<link href="/Content/datatables.css" rel="stylesheet" />

<script src="/Scripts/libs/jquery/jquery-ui.js" type="text/javascript"> </script>
<script src="/Scripts/libs/touchpunch/jquery.ui.touch-punch.js" type="text/javascript"> </script>
<script src="/Scripts/libs/gitter/jquery.gritter.js" type="text/javascript"> </script>
<script src="/Scripts/libs/datatables/jquery.dataTables.js" type="text/javascript"> </script>
<script src="/Scripts/libs/flotr2/flotr2.js" type="text/javascript"> </script>
<script src="/Scripts/jquery-sDashboardNonSortable.js" type="text/javascript"> </script>

@model IrisDataManagement.Models.DashboardModel

<script type="text/javascript">
    var refreshIntervalId;
    var refreshcounter = 0;
    var waitsmallid = 0;
    var waitsmall = false;
    var isspinning = 0;
    var stopspinning = 0;
    var ispaused = true;
    var retrievingdata = false;

    $(function () {
        var dashboardJson2 = [
         {
             widgetTitle: "LOCAL BRANCHES (UPLOAD STATUS)",
             widgetId: "branchStatusViewerLocal",
             widgetContent: $("#branchstatuslocal")
         },
         {
             widgetTitle: "FOREIGN BRANCHES (UPLOAD STATUS)",
             widgetId: "branchStatusViewerForeign",
             widgetContent: $("#branchstatusforeign")
         }
        ];

        $("#myDashboard2").sDashboard({
            dashboardData: dashboardJson2
        });

        $(".errorlogs").click(function () {
            $('.logviewerinnerdiv').hide();
            $('#logviewer').lightbox_me({
                centered: true,
                onLoad: function () {
                    $('#logviewer').addClass("loading");
                    $.ajax({
                        type: "GET",
                        url: "/Dashboards/GetErrorLogs",
                        dataType: "json",
                        error: function (result) {
                            $('#logviewer').removeClass("loading");
                            $('.logviewerinnerdiv').fadeIn();
                            ShowPopup("Could not get document data. Please ensure you are still connected to the network.");
                        },
                        success: function (result) {
                            if (result.status == '0') {
                                ShowPopup("Could not open document");
                            }

                            else if (result.status == '2') {
                                ShowPopup("No errors logged today");
                            }

                            else {
                                $('#logviewer').removeClass("loading");
                                $('.logviewerinnerdiv').html(result.status);
                                $('.logviewerinnerdiv').fadeIn();
                            }
                        }
                    });
                }
            })
        });

        $(".uploadlogs").click(function () {
            $('.logviewerinnerdiv').hide();
            $('#logviewer').lightbox_me({
                centered: true,
                onLoad: function () {
                    $('#logviewer').addClass("loading");
                    $.ajax({
                        type: "GET",
                        url: "/Dashboards/GetUploadLogs",
                        dataType: "json",
                        error: function (result) {
                            $('#logviewer').removeClass("loading");
                            $('.logviewerinnerdiv').fadeIn();
                            ShowPopup("Could not get document data. Please ensure you are still connected to the network.");
                        },
                        success: function (result) {
                            if (result.status == 0) {
                                ShowPopup("Could not open document");
                            }

                            else if (result.status == 2) {
                                ShowPopup("No uploads done today");
                            }

                            else {
                                $('#logviewer').removeClass("loading");
                                $('.logviewerinnerdiv').html(result.status);
                                $('.logviewerinnerdiv').fadeIn();
                            }
                        }
                    });
                }
            });
        });
    });

    function DoRefresh(bigupdate)
    {
        var dobigupdate = 0;

        if (bigupdate) {
            dobigupdate = 1;
        }

        // Rotate image
        var $elie = $(".refreshpage"), degree = 0, timer;

        if (isspinning == 0) {
            isspinning = 1;
            rotate();
            function rotate() {
                $elie.css({ WebkitTransform: 'rotate(' + degree + 'deg)' });
                $elie.css({ '-moz-transform': 'rotate(' + degree + 'deg)' });
                timer = setTimeout(function () {
                    ++degree; rotate();

                    if (stopspinning == 1 && (degree % 360 === 0)) {
                        stopspinning = 0;
                        isspinning = 0;
                        clearTimeout(timer);
                    }
                }, 5);
            }
        }

        retrievingdata = true;
        $.ajax({
            type: "GET",
            url: "/Dashboards/UpdateDownloaderData",
            data: { dobigupdate: dobigupdate },
            dataType: "json",
            error: function (result) {
                // Stop rotation
                stopspinning = 1;
                retrievingdata = false;
            },
            success: function (result) {
                // Stop rotation
                retrievingdata = false;
                stopspinning = 1;

                $('#branchstatuslocal').html(result.BranchViewerLocal);
                $('#branchstatusforeign').html(result.BranchViewerForeign);
            }
        });
    }

    function ShowPopup(message) {
        $('#headertxt').text(message);
        $('#PopupInfo').lightbox_me({
            centered: true
        });
    }

    $(document).ready(function () {
        $('#sliderdiv').hide();
        refreshIntervalId = window.setInterval(function () {
            DoRefresh(false);
        }, 10000);
    });
</script>

<ul style="padding-left: 20px" id="myDashboard2"></ul>

<div id="branchstatuslocal" style="position: relative" class="multichart">
    <div class="graph">@Html.Partial("DataTemplate", Model.BranchViewer)</div>
</div>

<div id="branchstatusforeign" class="multichart">
    <div class="graph">@Html.Partial("DataTemplate", Model.BranchViewerForeign)</div>
</div>


<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

<div id="logviewer" style="min-height: 600px; overflow-y: hidden" class="PopupWindow Hidden">
    <div class="modal"></div>
    <div class="closebtn closeme">X</div>
    <div style="max-height: 600px; overflow-y: auto" class="logviewerinnerdiv"></div>
</div>
