﻿
@model IrisDataManagement.Models.DashboardModel


@Html.Hidden("ChartTempData", null, new { id = "ChartTempData" })
@Html.Hidden("YearArray", Model.YearArray, new { id = "YearArray" })
@Html.Hidden("MonthArray", Model.MonthArray, new { id = "MonthArray" })

<div id="multiviewdiv" style="height: 100%;">
    <div class="modal"></div>
    @if (Model.Dropdown == 0)
    { 
        @Html.Partial("MultiView", Model)
    }
    else if (Model.Dropdown == 1)
    {
        @Html.Partial("PassportDashboard", Model)
    }
    else if (Model.Dropdown == 2)
    {
        @Html.Partial("DownloaderDashboard", Model)
    }
    else if (Model.Dropdown == 3)
    {
        @Html.Partial("SocketworksDashboard", Model)
    }
</div>
<div id="sliderdiv" style="visibility: hidden; height: 100%;" >
	
</div>
