﻿@model IrisDataManagement.Models.DashboardModel
    
@Styles.Render("~/Content/multiview")
<script src="/Scripts/libs/flotr2/flotr2.js" type="text/javascript"> </script>

@Html.Hidden("TableData", Model.MultiCharts[0].TableData)
@Html.Hidden("TableColumns", Model.MultiCharts[0].TableColumns)

<ul id="myDashboard"></ul>

<div id="bankslinechart" class="multichart">
    <div class="graph">@Html.Partial(Model.MultiCharts[1].ChartType, Model.MultiCharts[1].Chart)</div>
</div>

<div id="totalverifications" class="multichart">
    <div id="totalverificationsInner" style="height: 70%; width: 100%; padding-top: 12%;">
        <div class="graph">@Html.Partial(Model.MultiCharts[2].ChartType, Model.MultiCharts[2].Chart)</div>
    </div>
</div>
<div id="bankuserschart" class="multichart">
    <div class="graph">@Html.Partial(Model.MultiCharts[3].ChartType, Model.MultiCharts[3].Chart)</div>
</div>

<div id="minipassportviewer" class="multichart">
    <div class="graph">@Html.Partial("_MiniPassportReport", Model.Reports)</div>
</div>

<div id="pingdomchart" class="multichart">
    @if (Model.PingdomItem != null)
    {
        <div class="graph">@Html.Partial("PingdomTemplate", Model.PingdomItem)</div>
    }
    else
    {
        <div style="text-align: center; line-height: 250px; font-size: 16px; font-weight: bold; color: #666">Could not get response from Pingdom</div>
    }
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>


@Scripts.Render("~/bundles/multiview")