﻿<link type="text/css" href="/Content/jquery-ui.css" rel="stylesheet" />
<link href="/Content/sDashboard.css" rel="stylesheet" />
<link href="/Content/jquery.gritter.css" rel="stylesheet" />
<link href="/Content/datatables.css" rel="stylesheet" />

<script src="/Scripts/libs/jquery/jquery-ui.js" type="text/javascript"> </script>
<script src="/Scripts/libs/touchpunch/jquery.ui.touch-punch.js" type="text/javascript"> </script>
<script src="/Scripts/libs/gitter/jquery.gritter.js" type="text/javascript"> </script>
<script src="/Scripts/libs/datatables/jquery.dataTables.js" type="text/javascript"> </script>
<script src="/Scripts/libs/flotr2/flotr2.js" type="text/javascript"> </script>
<script src="/Scripts/jquery-sDashboardNonSortable.js" type="text/javascript"> </script>

@model IrisDataManagement.Models.DashboardModel

<script type="text/javascript">
    var refreshIntervalId;
    var refreshcounter = 0;
    var waitsmallid = 0;
    var waitsmall = false;
    var isspinning = 0;
    var stopspinning = 0;
    var ispaused = true;
    var retrievingdata = false;

    $(function () {
        var dashboardJson = [
        {
            widgetTitle: "Afis Activity (Per Branch) - [ @(Model.AfisMonitor.DataItems.Count) Active Branches ]",
            widgetId: "afisactivityDash",
            widgetContent: $("#afisactivity")
        }, {
            widgetTitle: "Last Seven Days Average",
            widgetId: "last7daysAvgdash",
            widgetContent: $("#last7daysAvg")
        },
        {
            widgetTitle: "AFIS Branch Activity (Over Last Year)",
            widgetId: "afisbranchpiechartDash",
            widgetContent: $("#afisbranchpiechart")
        }
	     ,
        {
            widgetTitle: "Summary",
            widgetId: "passportreportchartDash",
            widgetContent: $("#summary")
        },
         {
             widgetTitle: "Passports Report (Over Last Year)",
             widgetId: "summaryDash",
             widgetContent: $("#passportreportchart")
         }
        ];

        $("#myDashboard").sDashboard({
            dashboardData: dashboardJson
        });

        $(".refreshpage").click(function () {
            DoRefresh();
        });

        $(".startSlide").click(function () {
            if ($('.startSlide').hasClass('stopSlide')) {
                ispaused = true;
                $('.startSlide').removeClass('stopSlide');
            }
            else
            {
                ispaused = false;
                DoMainSlide(true);
                $('.startSlide').addClass('stopSlide');
            }
        });

        var beenclicked = false;
            $(".sDashboardExpand").click(function () {
                ispaused = true;
                $('.startSlide').removeClass('stopSlide');
                var div = $(this).parent().parent().parent();
                if (!$('#slider').length) {
                    $('#multiviewdiv').addClass("loading");
                    $.ajax({
                        type: "GET",
                        url: "/Dashboards/UpdatePassportData",
                        data: { dobigupdate: '1' },
                        dataType: "json",
                        error: function (result) {
                            ShowPopup("Unable to connect to database. Please check your internet connection");
                        },
                        success: function (result) {
                            $("#multiviewdiv").fadeOut(function () {
                                $('#multiviewdiv').removeClass("loading");
                                $("#sliderdiv").show().css('visibility', 'hidden');

                                $("#sliderdiv").html(result.page);
                                $('#BigAfisBranchChart_container').html(result.BigAfisBranchChart);
                                $('#PassportReportsBig_container').html(result.PassportReportsBig);
                                $('#BigAfisActivity_container').html(result.AfisActivity);
                                $('#enrTotal').text('Enrol - ' + result.etotal);
                                $('#issTotal').text('Issue - ' + result.itotal);
                                $('#rejTotal').text('Rejec - ' + result.rtotal);

                                $("#sliderdiv").css('visibility', 'visible').fadeIn(); //in case it still invisible
                            });
                        }
                    });
                }
                else {
                    if ($("#multiviewdiv").css('display') == 'block') {
                        $("#multiviewdiv").fadeOut(function () {
                            $("#sliderdiv").fadeIn();

                            // select correct slide
                            var slider = $('#slider').data('movingBoxes');

                            if (div.attr('id') == 'afisbranchpiechartDash')
                                slider.change(2);

                            if (div.attr('id') == 'summaryDash')
                                slider.change(3);

                            if (div.attr('id') == 'afispiechartDash')
                                slider.change(1);
                        });
                    }
                }
            });

            // hide it again
            $("#sliderdiv").css('visibility', 'visible').hide();
        });

        function DoRefresh(bigupdate)
        {
            var dobigupdate = 0;

            if (bigupdate) {
                dobigupdate = 1;
            }

            // Rotate image
            var $elie = $(".refreshpage"), degree = 0, timer;

            if (isspinning == 0) {
                isspinning = 1;
                rotate();
                function rotate() {
                    $elie.css({ WebkitTransform: 'rotate(' + degree + 'deg)' });
                    $elie.css({ '-moz-transform': 'rotate(' + degree + 'deg)' });
                    timer = setTimeout(function () {
                        ++degree; rotate();

                        if (stopspinning == 1 && (degree % 360 === 0)) {
                            stopspinning = 0;
                            isspinning = 0;
                            clearTimeout(timer);
                        }
                    }, 5);
                }
            }

            retrievingdata = true;
            $.ajax({
                type: "GET",
                url: "/Dashboards/UpdatePassportData",
                data: { dobigupdate: dobigupdate },
                dataType: "json",
                error: function (result) {
                    // Stop rotation
                    stopspinning = 1;
                    retrievingdata = false;
                },
                success: function (result) {
                    // Stop rotation
                    retrievingdata = false;
                    stopspinning = 1;

                    if (dobigupdate == 1 && $("#sliderdiv").css('display') == 'none') {
                        $("#sliderdiv").show().css('visibility', 'hidden');

                        // In case the slider isnt done yet
                        if (!$('#slider').length) {
                            $("#sliderdiv").html(result.page);
                        }

                        // Refresh big charts
                        $('#BigAfisBranchChart_container').html(result.BigAfisBranchChart);
                        $('#PassportReportsBig_container').html(result.PassportReportsBig);
                        $('#BigAfisActivity_container').html(result.AfisActivity);
                        $('#enrTotal').text('Enrol - ' + result.etotal);
                        $('#issTotal').text('Issue - ' + result.itotal);
                        $('#rejTotal').text('Rejec - ' + result.rtotal);

                        // hide it again
                        $("#sliderdiv").css('visibility', 'visible').hide();
                    }

                    // Refresh small charts
                    $('#last7daysAvg').html(result.Last7daysAvg);
                    $('#afisactivity').html(result.AfisActivityData);
                    $('#summary').html(result.SummaryData);
                    $('#weeklydash').find('.sDashboard-refresh-icon').click();

                    // Also update the 'active branches'
                    $('#afisactivityDash .sDashboardWidgetHeader').text('Afis Activity (Per Branch) - [ ' + result.activebranches + ' Active Branches ]');

                    // Resize table cover
                    //$('.tableoveflowcover').css('height', $('.tableoveflowcover #DataTemplteTable').height() + 'px');
                }
            });
        }

        function DoMainSlide(val)
        {
            if (val)
            {
            }
            else
            {
                $('.startSlide').removeClass('stopSlide');
            }
        }

        function ShowPassportPreview(id) {
            $('.startSlide').removeClass('stopSlide');;

            if (waitsmall)
            {
                waitsmallid = id;
            }
            else
            {
                $('.popupinnerdiv').fadeOut(function () {
                    $('#ppinfodiv').lightbox_me({
                        centered: true,
                        onLoad: function () {
                            $('#ppinfodiv').addClass("loading");
                            $.ajax({
                                type: "GET",
                                url: "/GetPassportImage",
                                data: { ppid: id },
                                dataType: "json",
                                error: function (result) {
                                    $('#ppinfodiv').removeClass("loading");
                                    $('#popupinnerdiv').fadeIn();
                                    ShowPopup("Could not get document data. Please ensure you are still connected to the network.");
                                },
                                success: function (result) {
                                    if (result.status == 0) {
                                        ShowPopup("Incomplete passport data.");
                                    }

                                    if (result.status == 1) {
                                        $('#ppinfodiv').removeClass("loading");
                                        $('.popupinnerdiv').html(result.page);
                                        $('.popupinnerdiv').fadeIn();
                                    }

                                    if (result.status == 2) {
                                        window.location.href = '/';
                                    }
                                }
                            });
                        }
                    });
                });
            }
        }

        function ShowPopup(message) {
            $('#headertxt').text(message);
            $('#PopupInfo').lightbox_me({
                centered: true
            });
        }

        function HideButtons(val)
        {
            if (val)
            {
                waitsmall = true;
                $(".sDashboardExpand").fadeOut();
                $("#weeklydash div div .sDashboard-circle-plus-icon").fadeOut();
                $("#pingdomStats div div .sDashboard-circle-plus-icon").fadeOut();
                $("#passportsViewedDash div div .sDashboard-circle-plus-icon").fadeOut();
            }
            else{
                waitsmall = false;

                if (waitsmallid != 0)
                {
                    ShowPassportPreview(waitsmallid);
                    waitsmallid = 0;
                }

                $(".sDashboardExpand").fadeIn();
                $("#weeklydash div div .sDashboard-circle-plus-icon").fadeIn();
                $("#pingdomStats div div .sDashboard-circle-plus-icon").fadeIn();
                $("#passportsViewedDash div div .sDashboard-circle-plus-icon").fadeIn();
            }
        }

        $(document).ready(function () {
            $(".gohome").click(function (){
                ispaused = false;
            });

            $(".gorightbtn").click(function () {
                $(".gorightbtn").hide();
                $("#myDashboard2").css("visibility", "visible");
                $("#myDashboard").fadeOut(function () {
                    $("#myDashboard2").hide().fadeIn();
                    $(".goleftbtn").show();
                });
            });

            $(".goleftbtn").click(function () {
                $(".goleftbtn").hide();
                $("#myDashboard2").fadeOut(function () {
                    $("#myDashboard").fadeIn();
                    $(".gorightbtn").show();
                });
            });

            ispaused = false;

            refreshIntervalId = window.setInterval(function () {
                if (!retrievingdata)
                {
                    if ($("#sliderdiv").css('display') == 'none') {
                        if (refreshcounter < 5) {
                            DoRefresh(false);
                        }
                        else {

                            if (refreshcounter == 8) {
                                refreshcounter = 0;

                                if (!ispaused && $('.startSlide').hasClass('stopSlide')) {
                                    if ($('#slider').length) {
                                        var slider = $('#slider').data('movingBoxes');

                                        $("#multiviewdiv").fadeOut(function () {
                                            $("#sliderdiv").fadeIn();
                                            slider.change(1);
                                            if (!$('#btnplay').hasClass('pause')) {
                                                $('#btnplay').click();
                                            }
                                        });
                                    }
                                }
                            }

                            if (refreshcounter == 7) {
                                DoRefresh(false);
                            }

                            if (refreshcounter == 6) {
                                if (!ispaused) {
                                    DoRefresh(true);
                                }
                                else
                                    DoRefresh(false);
                            }
                        }

                        refreshcounter++;
                    }
                }
            }, 10000);

            $('.startSlide').addClass('stopSlide');
        });

</script>

<ul id="myDashboard"></ul>

<div id="afisbranchpiechart" class="multichart">
    <div style="height: 100%; width: 100%;">
        <div class="graph">@Html.Partial(Model.MultiCharts[1].ChartType, Model.MultiCharts[1].Chart)</div>
    </div>
</div>
<div id="passportreportchart" class="multichart">
    <div class="graph">@Html.Partial(Model.MultiCharts[2].ChartType, Model.MultiCharts[2].Chart)</div>
</div>

<div id="last7daysAvg" class="multichart">
    <div class="graph">@Html.Partial("DataTemplate", Model.Last7DaysActivity)</div>
</div>

<div id="summary" class="multichart">
    <div class="graph">@Html.Partial("SummaryTemplate", Model.Summary)</div>
</div>

<div id="afisactivity" class="multichart">
    <div class="graph">@Html.Partial("_DataTemplateAfisActivity", Model.AfisMonitor)</div>
</div>


<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

<div id="logviewer" class="PopupWindow Hidden">
    <div class="modal"></div>
    <div class="closebtn closeme">X</div>
    <div class="logviewerinnerdiv"></div>
</div>
