﻿@model IrisDataManagement.Models.PingdomItem
<link href="/content/pingdomstyles.css" rel="stylesheet" />
<div class="pingdomSummary">
    <div id="statisticsPart">
        <div class="columnOne">
            <p class="space"><strong>Uptime</strong></p>
            <h3 id="averageUptime">@(Math.Round(Model.UptimePercent, 2))%</h3>
        </div>
        <div class="columnTwo">
            <p class="space"><strong>Downtime</strong></p>
            <h3 id="totalDowntime">@Model.DownTime</h3>

        </div>
        <div class="columnThree">
            <p class="space"><strong>No of Downtimes</strong></p>
            <h3 id="numberOfDowntimes">@Model.NumberOfDownTimes</h3>
        </div>
    </div>
    <div id="resultPart" class="innerBox light">
        <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
            <div class=""></div>
            <table id="statusHistoryTable" class="dt withHover dataTable" width="578">
                <colgroup>
                    <col width="10%">
                    <col width="32%">
                    <col width="31%">
                    <col width="27%">
                    <col>
                </colgroup>
                <thead>
                    <tr role="row">
                        <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""><span class="bulb"></span></th>
                        <th class="table-header-dark sorting_desc" role="columnheader" tabindex="0" aria-controls="statusHistoryTable" rowspan="1" colspan="1" aria-label="From: activate to sort column ascending">From<span class="triangle"> ▼</span></th>
                        <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="To">To<span class="triangle"></span></th><th class="table-header-dark sorting" role="columnheader" tabindex="0" aria-controls="statusHistoryTable" rowspan="1" colspan="1" aria-label="Duration: activate to sort column descending">Duration<span class="triangle"></span></th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @for (int i = Model.ListItems.Count - 1; i > 0; i--)
                    { 
                        <tr class="@(i % 2 == 0 ? "even" : "odd")">
                            <td class="" style="text-align: center"><span title="@Model.ListItems[i].Status" class="status @(Model.ListItems[i].Status.ToLower())"></span></td>
                            <td class=" sorting_1">@Model.ListItems[i].From</td>
                            <td class="">@Model.ListItems[i].To</td>
                            <td style="border-right:none;">@Model.ListItems[i].Duration</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>