﻿@model List<IrisCommon.Entities.SocketWorksEntity>

<style>
    .repeater {
        font-size: inherit;
    }
</style>
<div class="mymini" style="margin-top: -12px;">
    @if (Model.Count == 0)
    {
        <div class="noreportsfound"> Nothing sent in the last hour</div>
    }
    else
    {
        <div class="pingdomSummary" style="margin-top: -5px">
            <div id="resultPart" class="innerBox light">
                <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
                    <div class=""></div>
                    <table id="SummaryTemplateTable" class="dt withHover dataTable" width="578">
                        <colgroup>
                            <col width="40%">
                            <col width="30%">
                            <col width="30%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>Name</th>
                                <th class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">Ref No</th>
                                <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">Branch</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                IrisCommon.Entities.SocketWorksEntity entity = Model[i];
                                <tr class="@(i % 2 == 0 ? "even" : "odd")">
                                    <td title="@(entity.FirstName + " " + entity.Surname)">@((entity.FirstName + " " + entity.Surname).Length > 30 ? (entity.FirstName + " " + entity.Surname).Substring(0, 30) + "..." : (entity.FirstName + " " + entity.Surname))</td>
                                    <td>@entity.REFID</td>
                                    <td title="@(entity.ProcessingOffice)">@((entity.ProcessingOffice).Length > 30 ? (entity.ProcessingOffice).Substring(0, 30) + "..." : (entity.ProcessingOffice))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <script type="text/javascript">
        $('#socketworkscount').html(@(Model.Count));
    </script>
</div>