﻿<link type="text/css" href="/Content/jquery-ui.css" rel="stylesheet" />
<link href="/Content/sDashboard.css" rel="stylesheet" />
<link href="/Content/jquery.gritter.css" rel="stylesheet" />
<link href="/Content/datatables.css" rel="stylesheet" />

<script src="/Scripts/libs/jquery/jquery-ui.js" type="text/javascript"> </script>
<script src="/Scripts/libs/touchpunch/jquery.ui.touch-punch.js" type="text/javascript"> </script>
<script src="/Scripts/libs/gitter/jquery.gritter.js" type="text/javascript"> </script>
<script src="/Scripts/libs/datatables/jquery.dataTables.js" type="text/javascript"> </script>
<script src="/Scripts/libs/flotr2/flotr2.js" type="text/javascript"> </script>
<script src="/Scripts/jquery-sDashboardNonSortable.js" type="text/javascript"> </script>

@model IrisDataManagement.Models.DashboardModel

<script type="text/javascript">
    var refreshIntervalId;
    var refreshcounter = 0;
    var waitsmallid = 0;
    var waitsmall = false;
    var isspinning = 0;
    var stopspinning = 0;
    var ispaused = true;
    var retrievingdata = false;

    $(function () {
        
        var dashboardJson3 = [
         {
             widgetTitle: "Upload Activity (Per Branch) - [ <span id='socketworksactivitycount'>@(Model.SocketworksMonitor.DataItems.Count)</span> Active Branches ]",
            widgetId: "swctivityDash",
            widgetContent: $("#swactivity")
         },
         {
             widgetTitle: "Payments Uploaded In Last Hour - [ <span id='socketworkscount'>@(Model.SocketworksToday.Count)</span> records ]",
             widgetId: "paymentsUploadedDash",
             widgetContent: $("#swtoday")
         },
         {
             widgetTitle: "Summary",
             widgetId: "socketworkssummary",
             widgetContent: $("#swsummary")
         },
        ];

        $("#myDashboard3").sDashboard({
            dashboardData: dashboardJson3
        });
    });

    function DoRefresh(bigupdate)
    {
        var dobigupdate = 0;

        if (bigupdate) {
            dobigupdate = 1;
        }

        // Rotate image
        var $elie = $(".refreshpage"), degree = 0, timer;

        if (isspinning == 0) {
            isspinning = 1;
            rotate();
            function rotate() {
                $elie.css({ WebkitTransform: 'rotate(' + degree + 'deg)' });
                $elie.css({ '-moz-transform': 'rotate(' + degree + 'deg)' });
                timer = setTimeout(function () {
                    ++degree; rotate();

                    if (stopspinning == 1 && (degree % 360 === 0)) {
                        stopspinning = 0;
                        isspinning = 0;
                        clearTimeout(timer);
                    }
                }, 5);
            }
        }

        retrievingdata = true;
        $.ajax({
            type: "GET",
            url: "/Dashboards/UpdateSocketWorksData",
            dataType: "json",
            error: function (result) {
                // Stop rotation
                stopspinning = 1;
                retrievingdata = false;
            },
            success: function (result) {
                // Stop rotation
                retrievingdata = false;
                stopspinning = 1;

                $('#swactivity').html(result.SocketworksMonitor);
                $('#swtoday').html(result.SocketworksToday);
                $('#swsummary').html(result.SocketworksSummary);
            }
        });
    }

    function ShowPopup(message) {
        $('#headertxt').text(message);
        $('#PopupInfo').lightbox_me({
            centered: true
        });
    }

    $(document).ready(function () {
        $('#sliderdiv').hide();
        refreshIntervalId = window.setInterval(function () {
            DoRefresh(false);
        }, 30000);
    });
</script>

<ul style="padding-left: 20px" id="myDashboard3"></ul>

<div id="swactivity" class="multichart">
    <div class="graph">@Html.Partial("DataTemplate", Model.SocketworksMonitor)</div>
</div>

<div id="swtoday" class="multichart">
    <div class="graph">@Html.Partial("SocketWorksHourly", Model.SocketworksToday)</div>
</div>

<div id="swsummary" class="multichart">
    <div class="graph">@Html.Partial("SocketworksSummaryTemplate", Model.SocketworksSummary)</div>
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

<div id="logviewer" class="PopupWindow Hidden">
    <div class="modal"></div>
    <div class="closebtn closeme">X</div>
    <div class="logviewerinnerdiv"></div>
</div>
