﻿@model IrisCommon.Entities.SocketWorksSummary

<link href="/content/summarystyles.css" rel="stylesheet" />

<div style="height: auto; padding: 30px">
    <div class="afisTotals">
        <div class="left smallheader2">Total Today</div>
        <div class="left smallheader2">Total This Week</div>
        <div class="left smallheader2">Total This Month</div>
        <div class="clear"></div>

        <div class="left totalbox2">@Model.UploadedToday.ToString("N0")</div>
        <div class="left totalbox2">@Model.UploadedThisWeek.ToString("N0")</div>
        <div class="left totalbox2">@Model.UploadedThisMonth.ToString("N0")</div>
        @*<div class="left totalbox2">@Model.AfisGrandTotal</div>*@
        <div class="clear"></div>
    </div>

    <div class="afisTotals" style="margin-top: 30px">
        <div class="left smallheader2">Total Uploaded</div>
        <div class="left smallheader2">Total Redeemed</div>
        <div class="clear"></div>

        <div class="left totalbox2">@Model.TotalUploaded.ToString("N0")</div>
        <div class="left totalbox2">@Model.Redeemed.ToString("N0")</div>
        <div class="clear"></div>
    </div>
</div>