﻿@model IrisDataManagement.Models.SummaryInfo

<link href="/content/summarystyles.css" rel="stylesheet" />

<div style="height: auto;">
    <div class="afisTotals">
        <div class="left smallheader">Pending</div>
        <div class="left smallheader">Approved</div>
        <div class="left smallheader">Dropped</div>
        <div class="left smallheader">Rejected</div>
        @*<div class="left smallheader">G/Total</div>*@
        <div class="clear"></div>

        <div class="left totalbox">@Model.PendingTotal</div> 
        <div class="left totalbox">@Model.ApprovedTotal</div> 
        <div class="left totalbox">@Model.DroppedTotal</div> 
        <div class="left totalbox">@Model.RejectedTotal</div> 
        @*<div class="left totalbox">@Model.AfisGrandTotal</div>*@ 
        <div class="clear"></div>
    </div>

    <div class="afisTotals" style="margin-top: 20px">
        <div class="left smallheader">Issued</div>
        <div class="left smallheader">Enrolled</div>
        <div class="clear"></div>

        <div class="left totalbox">@Model.IssuedTotal</div>
        <div class="left totalbox">@Model.EnrolledTotal</div>
        <div class="clear"></div>
    </div>

    <hr class="hrclass" style="margin-top: 8px" />
    <div class="activebranches">Pending AFIS Queries:</div>
    <hr class="hrclass" />
    <div class="pingdomSummary">
        <div id="resultPart" class="innerBox light">
            <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
                <div class=""></div>
                <table id="SummaryTemplateTable" class="dt withHover dataTable" width="578">
                    <colgroup>
                        <col width="18.5%">
                        <col width="27%">
                        <col width="27%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr role="row">
                            <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>Date</th>
                            <th class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">Query No</th>
                            <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">Form No</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">P</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">F</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">A</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @for (int i = 0; i < Model.PendingItems.Count; i++)
                        {
                            <tr style="font-size: 12px" class="@(i % 2 == 0 ? "even" : "odd")">
                                <td>@Model.PendingItems[i].Date.ToString("dd/MM/yy")</td>
                                <td>@Model.PendingItems[i].QueryNo</td>
                                <td>@Model.PendingItems[i].FormNo</td>
                                <td>@Model.PendingItems[i].Priority</td>
                                <td>@Model.PendingItems[i].Flag</td>
                                <td style="border-right: none">@Model.PendingItems[i].Appr</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>