﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

        <style>
	        #slider { width: 95%; }
	        #slider li { width: 75%; }
        </style>
        
        <link href="/content/movingboxes.css" rel="stylesheet">
        @Styles.Render("~/Content/general")
	    <!--[if lt IE 9]>
	    <link href="/content/movingboxes-ie.css" rel="stylesheet" media="screen" />
	    <![endif]-->

        <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"> </script>
        <script src="/scripts/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="/scripts/jquery.movingboxes.js" type="text/javascript"></script>
    </head>
    <body id="wrapper" style="padding:70px 0px 25px 0px">
        <header class="header" style="margin-top:-70px; height: 52px;">
        </header>
                
        <div id="content2" style="width: auto">
            @RenderSection("featured", required: false)
            <section class="main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="footernote">©@(DateTime.Now.Year) - Iris Smart Technologies Ltd</div>
        </footer>
        @Scripts.Render("~/bundles/master")
        @RenderSection("scripts", required: false)
    </body>
</html>
